openapi: 3.2.0
info:
  version: 2.0.0
  title: Cintoo Open Tag List API
  description: 'Cintoo Open API 1.x documentation: https://aec.cintoo.com/api


    BETA: API v2 endpoints tagged "BETA" are available in beta-version, meaning that changes may be done later on.'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: API Support
    email: support@cintoo.com
  x-logo:
    url: ./assets/logo_api.svg
    altText: Cintoo API
servers:
- url: https://aec.cintoo.com
security:
- oauth2: []
tags:
- name: Tag List
paths:
  /api/2/accounts/{accountRef}/projects/{projectRef}/tag-lists:
    get:
      summary: Get tag lists
      operationId: getTagsOnProject
      description: 'BETAGet all tag lists in a project.


        Requires the permission `workzone:tags:read` on at least one work zone of the project.

        The tag lists returned are all tag lists on work zones the user has this permission.


        The project must have an active subscription.'
      tags:
      - Tag List
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      responses:
        '200':
          description: List of tag lists
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagList'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/tag-lists\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/projects/%s/tag-lists\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/tag-lists`;\nconst res = await fetch(url, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
    post:
      summary: Create a tag list
      operationId: createTagList
      description: 'BETACreate a tag list.


        Requires the permission `workzone:tags:write` on the work zone.


        The project must have an active subscription.'
      tags:
      - Tag List
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tagListCreate'
      responses:
        '201':
          description: The tag list was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagList'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --request POST --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/tag-lists\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\n    \"workzoneId\": \"...\",\n    \"tagListType\": \"3d\",\n    \"name\": \"Test\",\n    \"description\": \"This is a test\",\n    \"color\": \"#123456\",\n    \"metadataDefinition\": [{\"id\": \"test\", \"name\": \"label for test\"}]\n}'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/projects/%s/tag-lists\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"workzoneId\": \"...\",\n    \"tagListType\": \"3d\",\n    \"name\": \"Test\",\n    \"description\": \"This is a test\",\n    \"color\": \"#123456\",\n    \"metadataDefinition\": [{\"id\": \"test\", \"name\": \"label for test\"}]\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/tag-lists`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\n        \"workzoneId\": \"...\",\n        \"tagListType\": \"3d\",\n        \"name\": \"Test\",\n        \"description\": \"This is a test\",\n        \"color\": \"#123456\",\n        \"metadataDefinition\": [{\"id\": \"test\", \"name\": \"label for test\"}]\n    }\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/tag-lists/bulk-update:
    post:
      summary: Update multiple tag lists
      operationId: bulkUpdateTagLists
      description: 'BETAUpdate tag lists.


        Requires the permission `workzone:tags:write` on the work zones of the tag lists.


        The project must have an active subscription.

        The tag lists must not be pending.


        Note that the workzoneId may be updated to perform a move to another work zone. In this case the permission

        `workzone:tags:write` is also required on the target work zone.'
      tags:
      - Tag List
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - type: object
                  required:
                  - id
                  properties:
                    id:
                      $ref: '#/components/schemas/TagListRef'
                - $ref: '#/components/schemas/tagListUpdate'
      responses:
        '200':
          description: The tag lists were successfully updated
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagList'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --request POST --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/tag-lists/bulk-update\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '[{\n    \"id\": \"...\",\n    \"workzoneId\": \"...\",\n    \"tagListType\": \"3d\",\n    \"name\": \"Test\",\n    \"description\": \"This is a test\",\n    \"color\": \"#123456\",\n    \"metadataDefinition\": [{\"id\": \"test\", \"name\": \"label for test\"}]\n}]'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/projects/%s/tag-lists/bulk-update\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"id\": \"...\",\n    \"workzoneId\": \"...\",\n    \"tagListType\": \"3d\",\n    \"name\": \"Test\",\n    \"description\": \"This is a test\",\n    \"color\": \"#123456\",\n    \"metadataDefinition\": [{\"id\": \"test\", \"name\": \"label for test\"}]\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/tag-lists/bulk-update`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    [{\n        \"id\": \"...\",\n        \"workzoneId\": \"...\",\n        \"tagListType\": \"3d\",\n        \"name\": \"Test\",\n        \"description\": \"This is a test\",\n        \"color\": \"#123456\",\n        \"metadataDefinition\": [{\"id\": \"test\", \"name\": \"label for test\"}]\n    }]\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/tag-lists/bulk-delete:
    post:
      summary: Delete multiple tag lists
      operationId: bulkDeleteTagLists
      description: 'BETADelete tag lists.


        The project must have an active subscription.

        The tag lists must not be pending.


        Requires the permission `workzone:tags:write` on the work zones of the tag lists.'
      tags:
      - Tag List
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - ids
              properties:
                ids:
                  type: array
                  items:
                    $ref: '#/components/schemas/TagListRef'
      responses:
        '204':
          description: The tag lists were successfully deleted
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --request POST --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/tag-lists/bulk-delete\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\"ids\": [\"...\", \"...\"]}'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/projects/%s/tag-lists/bulk-delete\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"ids\": [\"...\", \"...\"]\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/tag-lists/bulk-delete`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\"ids\": [\"...\", \"...\"]}\n  ),\n});\n\nconsole.log(res.status);\nif (res.status !== 204) {\n  const data = await res.json();\n  console.log(data);\n}\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/tag-lists/{tagListRef}:
    put:
      summary: Update a tag list
      operationId: updateTagList
      description: 'BETAUpdate a tag list.


        ⚠ Overwrites all fields. Missing fields will be considered as null and current values will be erased


        Requires the permission `workzone:tags:write` on the work zone of the tag list.


        The project must have an active subscription.

        The tag list must not be pending.


        Note that the workzoneId may be updated to perform a move to another work zone. In this case the permission

        `workzone:tags:write` is also required on the target work zone.'
      tags:
      - Tag List
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/tagListRef'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tagListUpdate'
      responses:
        '200':
          description: The tag list was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagList'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\nexport LISTUUID=...\n\ncurl --request PUT --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/tag-lists/$LISTUUID\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\n    \"workzoneId\": \"...\",\n    \"tagListType\": \"3d\",\n    \"name\": \"Test\",\n    \"description\": \"This is a test\",\n    \"color\": \"#123456\",\n    \"metadataDefinition\": [{\"id\": \"test\", \"name\": \"label for test\"}]\n}'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\nlistUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.put(\n  \"https://%s/api/2/accounts/%s/projects/%s/tag-lists/%s\"\n    % (host, accountUUID, projectUUID, listUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"workzoneId\": \"...\",\n    \"tagListType\": \"3d\",\n    \"name\": \"Test\",\n    \"description\": \"This is a test\",\n    \"color\": \"#123456\",\n    \"metadataDefinition\": [{\"id\": \"test\", \"name\": \"label for test\"}]\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst listUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/tag-lists/${listUUID}`;\nconst res = await fetch(url, {\n  method: \"PUT\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\n        \"workzoneId\": \"...\",\n        \"tagListType\": \"3d\",\n        \"name\": \"Test\",\n        \"description\": \"This is a test\",\n        \"color\": \"#123456\",\n        \"metadataDefinition\": [{\"id\": \"test\", \"name\": \"label for test\"}]\n    }\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
    delete:
      summary: Delete a tag list
      operationId: deleteTagList
      description: 'BETADelete a tag list.


        The project must have an active subscription.

        The tag list must not be pending.


        Requires the permission `workzone:tags:write` on the work zone of the tag list.'
      tags:
      - Tag List
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/tagListRef'
      responses:
        '204':
          description: The tag list was successfully deleted
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\nexport LISTUUID=...\n\ncurl --request DELETE --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/tag-lists/$LISTUUID\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\nlistUUID = \"\"\ntoken = \"...\"\n\nresponse = requests.delete(\n  \"https://%s/api/2/accounts/%s/projects/%s/tag-lists/%s\"\n    % (host, accountUUID, projectUUID, listUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst listUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/tag-lists/${listUUID}`;\nconst res = await fetch(url, {\n  method: \"DELETE\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/tag-lists/{tagListRef}/ai-detection:
    post:
      summary: Object Detection on a tag list
      operationId: tagListAiDetection
      description: 'BETALaunch AI Detection on a tag list.


        Required:

        - the permission `workzone:tags:write` on the work zone of the tag list

        - the permissions `workzone:reality-data:read` and `workzone:export-jobs-reality-data:write`

        on the work zones of the scans


        The project must have an active subscription.

        The tag list must not be pending.


        After this call, the tag list will become *pending* until the AI detection is done, meaning no more

        operation can be performed on this tag list until the end of the detection.'
      tags:
      - Tag List
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/tagListRef'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - classes
              - filesIds
              properties:
                classes:
                  type: array
                  items:
                    type: string
                  minLength: 1
                  description: The list of possible classes can be obtained using the [List AI detection classes](#tag/Tag-List/operation/listAIDetectionClasses) endpoint
                filesIds:
                  type: array
                  items:
                    $ref: '#/components/schemas/FileRef'
                  minLength: 1
      responses:
        '200':
          description: The AI detection has been successfully launched on the tag list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagList'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\nexport LISTUUID=...\n\ncurl --request POST --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/tag-lists/$LISTUUID/ai-detection\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\n    \"classes\": [\"control_box\"],\n    \"filesIds\": [\"...\"]\n  }'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\nlistUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/projects/%s/tag-lists/%s/ai-detection\"\n    % (host, accountUUID, projectUUID, listUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"classes\": [\"control_box\"],\n    \"filesIds\": [\"...\"]\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst listUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/tag-lists/${listUUID}/ai-detection`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\n        \"classes\": [\"control_box\"],\n        \"filesIds\": [\"...\"]\n      }\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/tag-lists/{tagListRef}/pnid-elements/bulk-add:
    post:
      summary: Add P&ID elements to a tag list
      operationId: addPnIdElementsInTagList
      description: 'BETAAdd detected P&ID (Piping and Instrumentation Diagram) elements - instruments and pipes -

        as tags on a `2d` tag list.


        Use this to upload the elements you have detected on the pages of your diagrams. For each page,

        provide its instruments and pipes; every instrument and pipe becomes one tag on that page.


        Each page is identified by the attachment id string it belongs to (`attachmentId`) and its

        position in that attachment (`index`). The page must already exist on the tag list - this

        endpoint adds elements to existing pages, it does not create attachments or pages.

        If at least one referenced page is not found on the tag list, the request fails and no tag is

        created.


        Tags you add here are always created in addition to what is already there: existing tags are

        never changed or removed, and sending the same elements twice will create duplicate tags.


        Requirements:

        - the project has an active subscription with tags enabled

        - `workzone:tags:write`


        Each page in body must contain at least one instrument or one pipe.'
      tags:
      - Tag List
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/tagListRef'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tagListPnIdElementsBulkAdd'
      responses:
        '201':
          description: The instruments and pipes were added as tags; the updated tag list is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagList'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\nexport LISTUUID=...\nexport ATTACHMENTUUID=...\n\ncurl --request POST --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/tag-lists/$LISTUUID/pnid-elements/bulk-add\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\n    \"pages\": [\n      {\n        \"attachmentId\": \"'\"$ATTACHMENTUUID\"'\",\n        \"index\": 1,\n        \"instruments\": [\n          {\n            \"name\": \"instrument_1\",\n            \"class\": \"valve\",\n            \"confidence\": 0.91,\n            \"location\": [[10, 20], [30, 40]]\n          }\n        ],\n        \"pipes\": [\n          { \"name\": \"pipe_1\", \"segments\": [[0, 0], [5, 5], [10, 0]] }\n        ]\n      }\n    ]\n  }'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\nlistUUID = \"...\"\nattachmentUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/projects/%s/tag-lists/%s/pnid-elements/bulk-add\"\n    % (host, accountUUID, projectUUID, listUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"pages\": [\n      {\n        \"attachmentId\": attachmentUUID,\n        \"index\": 1,\n        \"instruments\": [\n          {\n            \"name\": \"instrument_1\",\n            \"class\": \"valve\",\n            \"confidence\": 0.91,\n            \"location\": [[10, 20], [30, 40]]\n          }\n        ],\n        \"pipes\": [\n          { \"name\": \"pipe_1\", \"segments\": [[0, 0], [5, 5], [10, 0]] }\n        ]\n      }\n    ]\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst listUUID = \"...\";\nconst attachmentUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/tag-lists/${listUUID}/pnid-elements/bulk-add`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({\n    pages: [\n      {\n        attachmentId: attachmentUUID,\n        index: 1,\n        instruments: [\n          {\n            name: \"instrument_1\",\n            class: \"valve\",\n            confidence: 0.91,\n            location: [[10, 20], [30, 40]],\n          },\n        ],\n        pipes: [{ name: \"pipe_1\", segments: [[0, 0], [5, 5], [10, 0]] }],\n      },\n    ],\n  }),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/values/ai-detection-classes:
    get:
      summary: List AI detection classes
      operationId: listAIDetectionClasses
      description: BETAList possible classes for AI detection
      tags:
      - Tag List
      responses:
        '200':
          description: List of classes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AIDetectionClass'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\n\ncurl --url \"https://aec.cintoo.com/api/2/values/ai-detection-classes\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\ntoken = \"...\"\n\nresponse = requests.get(\n  \"https://%s/api/2/values/ai-detection-classes\" % host,\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/values/ai-detection-classes`;\nconst res = await fetch(url, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
components:
  schemas:
    tagListUpdate:
      type: object
      required:
      - workzoneId
      - tagListType
      - name
      properties:
        workzoneId:
          $ref: '#/components/schemas/WorkzoneRef'
        tagListType:
          type: string
          minLength: 1
          maxLength: 36
          description: 'The tag list type determines how to display and handle it on the webapp. Currently only `2d` and `3d` are

            supported by the webapp.

            '
        name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type:
          - string
          - 'null'
          maxLength: 1000
        color:
          type:
          - string
          - 'null'
          maxLength: 20
        metadataDefinition:
          type:
          - array
          - 'null'
          minItems: 0
          maxItems: 50
          items:
            $ref: '#/components/schemas/TagListMetadataDefinition'
        attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TagListAttachmentInput'
    TagListAttachment:
      type: object
      description: 'Attachment as returned by the API. All fields are always present (nullable ones are returned as

        `null` when unset). The request shape used when creating/updating a tag list is

        `TagListAttachmentInput.yaml`.

        '
      required:
      - id
      - name
      - blob
      - pages
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 255
        name:
          type: string
          minLength: 1
          maxLength: 255
        blob:
          type:
          - string
          - 'null'
        pages:
          type: array
          items:
            type: object
            required:
            - id
            - index
            properties:
              id:
                type: string
                minLength: 1
                maxLength: 255
              index:
                type: integer
              scale:
                type: number
              width:
                type: number
              height:
                type: number
              name:
                type: string
                minLength: 1
                maxLength: 255
              hidden:
                type: boolean
    WorkzoneUrn:
      type: string
      pattern: ^urn:cintoo:workzone:[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
      description: '"urn:cintoo:workzone:" followed by an UUIDv4

        '
    TagListAttachmentInput:
      type: object
      description: 'Attachment shape accepted when creating or updating a tag list. Optional fields may be omitted;

        the response shape (all fields always present) is `TagListAttachment.yaml`.

        '
      required:
      - id
      - name
      - pages
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 255
        name:
          type: string
          minLength: 1
          maxLength: 255
        blob:
          type:
          - string
          - 'null'
        pages:
          type: array
          items:
            type: object
            required:
            - id
            - index
            properties:
              id:
                type: string
                minLength: 1
                maxLength: 255
              index:
                type:
                - integer
                - 'null'
              scale:
                type:
                - number
                - 'null'
              width:
                type:
                - number
                - 'null'
              height:
                type:
                - number
                - 'null'
              name:
                type:
                - string
                - 'null'
                minLength: 1
                maxLength: 255
              hidden:
                type:
                - boolean
                - 'null'
    AccountUrn:
      type: string
      description: '"urn:cintoo:account:" followed by an UUIDv4

        '
    TagListRef:
      oneOf:
      - $ref: '#/components/schemas/TagListUrn'
      - $ref: '#/components/schemas/TagListId'
    DateTime:
      type: string
      format: date-time
      description: 'The date-time notation as defined by RFC 3339, section 5.6 (ex: 2017-08-18T12:41:31Z)'
      example: '2017-08-18T12:41:31Z'
    FileUrn:
      type: string
      description: '"urn:cintoo:file:" followed by an UUIDv4

        '
    tagListCreate:
      type: object
      required:
      - workzoneId
      - tagListType
      - name
      properties:
        workzoneId:
          $ref: '#/components/schemas/WorkzoneRef'
        tagListType:
          type: string
          minLength: 1
          maxLength: 36
          description: 'The tag list type determines how to display and handle it on the webapp. Currently only `2d` and `3d` are

            supported by the webapp.

            '
        name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type:
          - string
          - 'null'
          maxLength: 1000
        color:
          type:
          - string
          - 'null'
          maxLength: 20
        metadataDefinition:
          type:
          - array
          - 'null'
          minItems: 0
          maxItems: 50
          items:
            $ref: '#/components/schemas/TagListMetadataDefinition'
        attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TagListAttachmentInput'
    ProjectUrn:
      type: string
      description: '"urn:cintoo:project:" followed by an UUIDv4

        '
    UserUrn:
      type: string
      description: '"urn:cintoo:user:" followed by an UUIDv4

        '
    AccountId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    WorkzoneId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    FileRef:
      oneOf:
      - $ref: '#/components/schemas/FileUrn'
      - $ref: '#/components/schemas/FileId'
    TagList:
      type: object
      x-tags:
      - Tag List
      required:
      - id
      - type
      - workzoneId
      - tagListType
      - name
      - description
      - color
      - metadataDefinition
      - attachments
      - pending
      - createdBy
      - createdAt
      - updatedBy
      - updatedAt
      - tagsVersion
      properties:
        id:
          $ref: '#/components/schemas/TagListUrn'
        type:
          type: string
          enum:
          - tag-list
        workzoneId:
          $ref: '#/components/schemas/WorkzoneUrn'
        tagListType:
          type: string
        name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        color:
          type: string
          maxLength: 20
        metadataDefinition:
          type: array
          minItems: 0
          maxItems: 50
          items:
            $ref: '#/components/schemas/TagListMetadataDefinition'
          description: 'Defines for each metadata id a displayable name.

            Note that tags inside the list may have metadata not defined in the list, but only those defined on the

            list will be displayed on the webapp.

            '
        attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TagListAttachment'
        pending:
          type: boolean
        createdBy:
          $ref: '#/components/schemas/UserUrn'
        createdAt:
          $ref: '#/components/schemas/DateTime'
        updatedBy:
          $ref: '#/components/schemas/UserUrn'
        updatedAt:
          $ref: '#/components/schemas/DateTime'
        tagsVersion:
          type: integer
    AIDetectionClass:
      type: object
      required:
      - name
      - category
      properties:
        name:
          type: string
          description: Identifier of the AI detection class
        category:
          type: string
          description: Category associated with the class
    TagListUrn:
      type: string
      description: '"urn:cintoo:tag-list:" followed by an UUIDv4

        '
    TagListId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    TagListMetadataDefinition:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 255
        name:
          type: string
          minLength: 1
          maxLength: 100
          pattern: ^[^\s](.*[^\s])?$
          description: 'must not start or end with a space, forbidden keywords are:

            - "id"

            - "description"

            - "cameraState"

            - "model"

            - "x"

            - "y"

            - "z"

            - "size"

            - "xMin"

            - "xMax"

            - "yMin"

            - "yMax"

            - "zMin"

            - "zMax"

            - "scanUuids"

            - "subId"

            - "nature"

            - "confidence"

            - "needValidation"

            '
          not:
            enum:
            - id
            - description
            - cameraState
            - model
            - x
            - y
            - z
            - size
            - xMin
            - xMax
            - yMin
            - yMax
            - zMin
            - zMax
            - scanUuids
            - subId
            - nature
            - confidence
            - needValidation
    FileId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    WorkzoneRef:
      oneOf:
      - $ref: '#/components/schemas/WorkzoneUrn'
      - $ref: '#/components/schemas/WorkzoneId'
    Error:
      type: object
      required:
      - status
      - title
      properties:
        status:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
          description: human readable description of the error in english
        errorCode:
          type: string
          description: detailed code describing error, can be used to map to a localized message
        errorValues:
          type: object
          description: values implied in the error, typically an input parameter, can be used to include in a localized message
    Uuid:
      type: string
      description: UUIDv4
      format: uuid
      example: 156fff1a-0ef7-4335-891a-627928a19e29
    ProjectId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    tagListPnIdElementsBulkAdd:
      type: object
      required:
      - pages
      properties:
        pages:
          type: array
          minItems: 1
          items:
            type: object
            description: 'A page worth of detected elements. At least one of `instruments` or `pipes` must be present

              and non-empty; the other may be omitted or empty.

              '
            required:
            - attachmentId
            - index
            properties:
              attachmentId:
                type: string
                minLength: 1
                maxLength: 255
                description: 'Attachment id string, matching the attachment id already stored on the tag list.

                  '
              index:
                type: integer
                minimum: 1
                description: 'Position of the page within its attachment. Together with `attachmentId` it identifies an

                  existing page on the tag list; the page is not created by this operation. If the pair

                  does not match a page already registered on the tag list, the request fails.

                  '
              instruments:
                type:
                - array
                - 'null'
                description: 'Detected instruments on the page. Each entry creates one *instrumentation* tag whose

                  shape is the closed polygon derived from the bounding box.

                  '
                items:
                  type: object
                  required:
                  - name
                  - location
                  properties:
                    name:
                      type: string
                      minLength: 1
                      maxLength: 255
                      description: 'Name of the instrument.

                        '
                    class:
                      type:
                      - string
                      - 'null'
                      description: Detected object class (e.g. `valve`, `pump`).
                    confidence:
                      type:
                      - number
                      - 'null'
                      description: Detector confidence in `[0, 1]`.
                    location:
                      type: array
                      minItems: 2
                      maxItems: 2
                      description: 'Bounding box as two corner points `[ [xMin, yMin], [xMax, yMax] ]`.

                        '
                      items:
                        type: array
                        minItems: 2
                        maxItems: 2
                        items:
                          type: number
              pipes:
                type:
                - array
                - 'null'
                description: 'Detected pipe polylines on the page. Each entry creates one *pipe* tag whose shape

                  is the flattened polyline.

                  '
                items:
                  type: object
                  required:
                  - name
                  - segments
                  properties:
                    name:
                      type: string
                      minLength: 1
                      maxLength: 255
                      description: 'Name of the pipe.

                        '
                    segments:
                      type: array
                      minItems: 2
                      description: Polyline points, each as `[x, y]`.
                      items:
                        type: array
                        minItems: 2
                        maxItems: 2
                        items:
                          type: number
  parameters:
    accountRef:
      name: accountRef
      in: path
      required: true
      description: The Id or Urn of the account
      schema:
        oneOf:
        - $ref: '#/components/schemas/AccountUrn'
        - $ref: '#/components/schemas/AccountId'
    projectRef:
      name: projectRef
      in: path
      required: true
      description: The Id or Urn of the project
      schema:
        oneOf:
        - $ref: '#/components/schemas/ProjectUrn'
        - $ref: '#/components/schemas/ProjectId'
    tagListRef:
      name: tagListRef
      in: path
      required: true
      description: The Id or Urn of the tag list
      schema:
        oneOf:
        - $ref: '#/components/schemas/TagListUrn'
        - $ref: '#/components/schemas/TagListId'
  responses:
    UnexpectedError:
      description: unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            '400':
              value:
                status: 400
                title: Bad Request
            '401':
              value:
                status: 401
                title: Unauthorized
            '403':
              value:
                status: 403
                title: Forbidden
            '404':
              value:
                status: 404
                title: Not Found
            '405':
              value:
                status: 405
                title: Method Not Allowed
            '406':
              value:
                status: 406
                title: Not Acceptable
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://aec.cintoo.com/oauth/authorize
          tokenUrl: https://aec.cintoo.com/oauth/token
          scopes: {}
          refreshUrl: https://aec.cintoo.com/oauth/token
x-tagGroups:
- name: General
  tags:
  - errors_list
  - internal_information
  - token_management
  - Permissions
  - Authentication
- name: Resources
  tags:
  - Resources
- name: Tenant
  tags:
  - Tenant
- name: Account
  tags:
  - Account
  - Subscription
  - Role
  - User
  - Group
  - Trusted Device
- name: Subscription
  tags:
  - Usage Report
- name: Project
  tags:
  - Project
  - Members
  - Workzone
- name: Project Data
  tags:
  - File
  - Annotation
  - Saved View
  - Share Link
  - Crop
  - Measurement
  - Tag List
  - Tag
- name: Jobs
  tags:
  - Progress Monitoring
  - Import Model
  - Export Scene
  - Segmentation
  - Video360
  - Import IDD
- name: Integrations
  tags:
  - Integrations
  - Konekt
  - Autodesk
  - Procore
- name: Tutorials
  tags:
  - tuto_upload_file
  - understand_tag_data
