openapi: 3.2.0
info:
  version: 2.0.0
  title: Cintoo Open File API
  description: 'Cintoo Open API 1.x documentation: https://aec.cintoo.com/api


    BETA: API v2 endpoints tagged "BETA" are available in beta-version, meaning that changes may be done later on.'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: API Support
    email: support@cintoo.com
  x-logo:
    url: ./assets/logo_api.svg
    altText: Cintoo API
servers:
- url: https://aec.cintoo.com
security:
- oauth2: []
tags:
- name: File
paths:
  /api/2/accounts/{accountRef}/projects/{projectRef}/files:
    get:
      summary: Get files
      operationId: getFiles
      description: 'BETAget all files in project.


        This endpoint accepts a "category" parameter to restrain the categories of the files that will be listed.


        Permissions:

        - the user must have permission `workzone:workzones:read` in work zones in which you can list files.'
      tags:
      - File
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/categoryFilter'
      responses:
        '200':
          description: List of files for this project
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/File'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/files\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/projects/%s/files\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/files`;\nconst res = await fetch(url, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/files/{fileRef}:
    patch:
      summary: Update a file name
      operationId: updateFileName
      description: 'Update the name of a file.


        Requires write permission on the file workzone:

        * `workzone:reality-data:write` for scans/geo-images/site maps

        * `workzone:cad-model:write` for models

        * `workzone:model-reports:write` for model reports

        * `workzone:documents:write` for documents/media/misc/archive

        * `workzone:video3d:write` for video 360

        * `workzone:workzones:write` for other file types'
      tags:
      - File
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/fileRef'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fileUpdate'
      responses:
        '200':
          description: The updated file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\nexport FILEUUID=...\n\ncurl --request PATCH --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/files/$FILEUUID\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\n    \"filename\": \"updated-name.jpg\"\n  }'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\nfileUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.patch(\n  \"https://%s/api/2/accounts/%s/projects/%s/files/%s\"\n    % (host, accountUUID, projectUUID, fileUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"filename\": \"updated-name.jpg\"\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst fileUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/files/${fileUUID}`;\nconst res = await fetch(url, {\n  method: \"PATCH\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({\n    filename: \"updated-name.jpg\",\n  }),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/files/bulk-transformation:
    post:
      summary: Update the position and/or rotation of a scan, model, geoImage or video3d
      operationId: UpdateBulkFilesTransformation
      description: 'BETAUpdate the position, rotation and scale for a list of files, with the following restrictions:

        - the scan, model and geoImage files accept update of only the position and rotation.

        - the video3d files accept update of all three fields.


        Required permissions depend on the type of the files being transformed:

        - scan files: `workzone:reality-data:transform`

        - model files: `workzone:cad-model:transform`

        - geoImage files: `workzone:geoimages:transform`

        - video3d files: `workzone:video3d:transform`'
      tags:
      - File
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filesTransformationUpdate'
      responses:
        '200':
          description: 'The files are successfully updated.


            The response returns the updated files information.

            '
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/File'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/files/bulk-transformation\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '[\n    {\n      \"id\": \"...\",\n      \"position\": {\"x\": 1., \"y\": 2., \"z\": 3.},\n      \"rotation\": {\"x\": 4., \"y\": 5., \"z\": 6., \"w\": 7.}\n    }\n  ]'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/projects/%s/files/bulk-transformation\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token},\n  json = [\n    {\n      \"id\": \"...\",\n      \"position\": {\"x\": 1., \"y\": 2., \"z\": 3.},\n      \"rotation\": {\"x\": 4., \"y\": 5., \"z\": 6., \"w\": 7.}\n    }\n  ]\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\nconst payload = [\n  {\n    id: \"...\",\n    position: { x: 1, y: 2, z: 3 },\n    rotation: { x: 4, y: 5, z: 6, w: 7 },\n  },\n];\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/files/bulk-transformation`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(payload),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/blobs/{blobRef}:
    get:
      summary: Download a blob
      operationId: getBlob
      description: Download a blob, via a redirection to pre-signed URL
      tags:
      - File
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - name: blobRef
        in: path
        required: true
        schema:
          type: string
          description: a blob ref -> `blob` attribute in File schema
          example: 1f74af182236bd4e5df2c3f18f3d94fe.png
      responses:
        '302':
          description: Redirection to a pre-signed download link, in the Location header
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\nexport BLOBID=...\n\ncurl --location \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/blobs/$BLOBID\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\nblobId = \"...\"\ntoken = \"...\"\n\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/projects/%s/blobs/%s\"\n    % (host, accountUUID, projectUUID, blobId),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nwith open(blobId, mode='wb') as localfile:\n  localfile.write(response.content)\n"
      - lang: TypeScript
        source: "import { writeFile } from \"node:fs/promises\";\n\n\n  const host = \"aec.cintoo.com\";\n  const accountUUID = \"...\";\n  const projectUUID = \"...\";\n  const blobId = \"...\";\n  const token = \"...\";\n\n  const url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/blobs/${blobId}`;\n  const res = await fetch(url, {\n    redirect: \"follow\",\n    headers: {\n      \"Authorization\": `Bearer ${token}`,\n    },\n  });\n\n  console.log(res.status);\n  const fileBuffer = Buffer.from(await res.arrayBuffer());\n  await writeFile(blobId, fileBuffer);\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/blobs:
    post:
      summary: Get pre-signed urls for multiple blobs
      operationId: getBlobs
      description: Get pre-signed urls for multiple blobs.
      tags:
      - File
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                description: list of blob refs -> `blob` attribute in File schema
                example: 1f74af182236bd4e5df2c3f18f3d94fe.png
      responses:
        '200':
          description: Pre-signed urls to the requested blobs
          content:
            application/json:
              schema:
                type: object
                required:
                - expiresIn
                - urls
                properties:
                  expiresIn:
                    description: validity duration of urls, in seconds
                    type: integer
                  urls:
                    description: map associating each blob ref to its pre-signed download link
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/Url'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\nexport BLOBID=...\n\ncurl --request POST --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/blobs\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data \"[ \\\"$BLOBID\\\" ]\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\nblobId = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/projects/%s/blobs\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = [ blobId ]\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\nconst blobId = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/blobs`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    [ blobId ]\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/workzones/{workzoneRef}/bulk-files:
    post:
      summary: Get a signed URL for cloud file upload
      operationId: signUploadURL
      description: 'BETAGet a signed URL for cloud file upload


        Requires the permission `workzone:documents:write` and/or `workzone:reality-data:write` on the workzone, depending on the file types


        After this call, use the `url`s from the response to upload the files.

        Note that there are examples on how to upload the data after calling the endpoints in the example section.


        Required headers to push the files

        * `Content-MD5: xxx` with `xxx` being a base 64 encode of the md5sum in binary format.\

        Example: `MD5SUM="$(openssl md5 -binary < "$FILENAME" | base64)"`

        * `Cache-Control: max-age=2592000`

        * `x-ms-blob-type: BlockBlob` mandatory if the storage type is Azure. \

        Note: always adding the `x-ms-blob-type` could be a good idea as Aws ignores it anyway.'
      tags:
      - File
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/workzoneRef'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/bulk-files'
      responses:
        '200':
          description: The signing process succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  provider:
                    type: string
                  expiresIn:
                    type: integer
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        extension:
                          type: string
                        size:
                          type: integer
                          format: int64
                        md5:
                          type: string
                        url:
                          type: string
                        blobName:
                          $ref: '#/components/schemas/BlobName'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTID=...\nexport PROJECTID=...\nexport WORKZONEID=...\n\ncurl --request POST --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTID/projects/$PROJECTID/workzones/$WORKZONEID/bulk-files\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '[\n    {\n      \"name\":\"tumbleweed.gif\",\n      \"extension\":\"gif\",\n      \"size\":448459,\n      \"md5\":\"da04845eaedb7db7f5b6f32c4076821f\",\n      \"isAttachment\": false\n    }\n  ]'\n\n# -- UPLOAD OF THE FILE --\n\n# the url received in the body of the response\nexport URL=...\nexport FILENAME=...\n\nMD5SUM=\"$(openssl md5 -binary < \"$FILENAME\" | base64)\"\ncurl --request PUT --url \"$URL\" --header \"Content-Type: application/json\" -T \"$FILENAME\" -H \"Content-MD5: ${MD5SUM}\" -H \"Cache-Control: max-age=2592000\" -H \"x-ms-blob-type: BlockBlob\" -i\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountID = \"...\"\nprojectID = \"...\"\nworkzoneID = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/projects/%s/workzones/%s/bulk-files\"\n    % (host, accountID, projectID, workzoneID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = [\n    {\n      \"name\":\"tumbleweed.gif\",\n      \"extension\":\"gif\",\n      \"size\":448459,\n      \"md5\":\"da04845eaedb7db7f5b6f32c4076821f\",\n      \"isAttachment\": false\n    }\n  ]\n)\nprint(response.status_code)\nprint(response.json())\n\nimport base64\nimport hashlib\n\n# the url received in the body of the response\nexport url=...\nexport filename=...\n\nhash_md5 = hashlib.md5()\nwith open(filename, \"rb\") as fin:\n    for chunk in iter(lambda: fin.read(4096), b\"\"):\n        hash_md5.update(chunk)\ndigest = hash_md5.digest()\nmd5 = base64.b64encode(digest).decode(\"utf-8\")\n\nheaders = {\n  \"Content-MD5\": md5,\n  \"Cache-Control\": \"max-age=2592000\",\n  \"x-ms-blob-type\": \"BlockBlob\", # mandatory if storage type is azure\n}\ndata = open(filename, \"rb\")\nr = requests.put(url, data=data, headers=headers)\nprint(r.status_code)\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountId = \"...\";\nconst projectId = \"...\";\nconst workzoneId = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountId}/projects/${projectId}/workzones/${workzoneId}/bulk-files`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    [\n        {\n          \"name\":\"tumbleweed.gif\",\n          \"extension\":\"gif\",\n          \"size\":448459,\n          \"md5\":\"da04845eaedb7db7f5b6f32c4076821f\",\n          \"isAttachment\": false\n        }\n      ]\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
    put:
      summary: Register cloud files on a workzone
      operationId: registerFiles
      description: 'BETARegister cloud files on a workzone


        Requires the permission `workzone:documents:write` and/or `workzone:reality-data:write` in the work zone, depending on the file types


        This actually adds an already uploaded file in a work zone, so that it appears in the file browser'
      tags:
      - File
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/workzoneRef'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/bulk-files'
      responses:
        '200':
          description: the files have been correctly registered
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    extension:
                      type: string
                    size:
                      type: integer
                      format: int64
                    md5:
                      type: string
                    id:
                      $ref: '#/components/schemas/FileUrn'
                    blobName:
                      $ref: '#/components/schemas/BlobName'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTID=...\nexport PROJECTID=...\nexport WORKZONEID=...\n\ncurl --request PUT --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTID/projects/$PROJECTID/workzones/$WORKZONEID/bulk-files\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '[\n    {\n      \"name\":\"tumbleweed.gif\",\n      \"extension\":\"gif\",\n      \"size\":448459,\n      \"md5\":\"da04845eaedb7db7f5b6f32c4076821f\",\n      \"isAttachment\": false\n    }\n  ]'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountID = \"...\"\nprojectID = \"...\"\nworkzoneID = \"...\"\ntoken = \"...\"\n\nresponse = requests.put(\n  \"https://%s/api/2/accounts/%s/projects/%s/workzones/%s/bulk-files\"\n    % (host, accountID, projectID, workzoneID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = [\n    {\n      \"name\":\"tumbleweed.gif\",\n      \"extension\":\"gif\",\n      \"size\":448459,\n      \"md5\":\"da04845eaedb7db7f5b6f32c4076821f\",\n      \"isAttachment\": false\n    }\n  ]\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountId = \"...\";\nconst projectId = \"...\";\nconst workzoneId = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountId}/projects/${projectId}/workzones/${workzoneId}/bulk-files`;\nconst res = await fetch(url, {\n  method: \"PUT\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    [\n        {\n          \"name\":\"tumbleweed.gif\",\n          \"extension\":\"gif\",\n          \"size\":448459,\n          \"md5\":\"da04845eaedb7db7f5b6f32c4076821f\",\n          \"isAttachment\": false\n        }\n      ]\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/values/formats:
    get:
      summary: List file formats
      operationId: listFormats
      description: BETAList supported file formats
      tags:
      - File
      responses:
        '200':
          description: List of file formats
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileFormat'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
components:
  parameters:
    categoryFilter:
      name: category
      in: query
      required: false
      description: 'Comma-separated list of case-sensitive categories of the files we want to list.


        Providing at least 1 invalid category will return a 400 Bad Request error.

        Providing empty parameter will return empty files list.

        If not provided, all files are returned.


        The category of an existing file can be found in its "type" field.

        '
      schema:
        type: array
        items:
          type: string
          enum:
          - document
          - model
          - scan
          - media
          - miscfile
          - archive
          - geoImage
          - sitemap
          - modelReport
          - video3d
          - gaussian
      examples:
        oneId:
          summary: Example of single category
          value:
          - scan
        multipleIds:
          summary: Example of multiple categories
          value:
          - geoImage
          - model
          - video3d
          - gaussian
    accountRef:
      name: accountRef
      in: path
      required: true
      description: The Id or Urn of the account
      schema:
        oneOf:
        - $ref: '#/components/schemas/AccountUrn'
        - $ref: '#/components/schemas/AccountId'
    projectRef:
      name: projectRef
      in: path
      required: true
      description: The Id or Urn of the project
      schema:
        oneOf:
        - $ref: '#/components/schemas/ProjectUrn'
        - $ref: '#/components/schemas/ProjectId'
    workzoneRef:
      name: workzoneRef
      in: path
      required: true
      description: The Id or Urn of the work zone
      schema:
        oneOf:
        - $ref: '#/components/schemas/WorkzoneUrn'
        - $ref: '#/components/schemas/WorkzoneId'
    fileRef:
      name: fileRef
      in: path
      required: true
      description: The Id or Urn of the file
      schema:
        oneOf:
        - $ref: '#/components/schemas/FileUrn'
        - $ref: '#/components/schemas/FileId'
  schemas:
    WorkzoneUrn:
      type: string
      pattern: ^urn:cintoo:workzone:[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
      description: '"urn:cintoo:workzone:" followed by an UUIDv4

        '
    AccountUrn:
      type: string
      description: '"urn:cintoo:account:" followed by an UUIDv4

        '
    Archive:
      allOf:
      - $ref: '#/components/schemas/FileBase'
      - $ref: '#/components/schemas/FileBlob'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/FileCategoryArchive'
    FilePlaced:
      type: object
      required:
      - translation
      properties:
        translation:
          type: object
          allOf:
          - $ref: '#/components/schemas/Vector3D'
          description: 'A vector representing the position of the image in the Workzone,

            with three components in meter: `x`, `y` and `z`

            '
        rotation:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Quaternion'
          description: 'A quaternion representing the rotation of the image,

            with the pivot point being its current position defined by translation.

            It has four components: `x`, `y`, `z` and `w`

            '
    FileBlobOptional:
      type: object
      properties:
        blob:
          type:
          - string
          - 'null'
          deprecated: true
          description: use `blobName` instead. `blob` will be removed the 1st of november 2025
          allOf:
          - $ref: '#/components/schemas/BlobName'
        blobName:
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/BlobName'
        url:
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Url'
    FileCategoryMiscFile:
      type: string
      enum:
      - miscfile
      description: Any other type of files
    FileBase:
      type: object
      required:
      - id
      - api1Id
      - projectId
      - workzoneId
      - name
      - formatId
      - size
      - createdAt
      - createdBy
      properties:
        id:
          $ref: '#/components/schemas/FileUrn'
        api1Id:
          $ref: '#/components/schemas/FileId'
        projectId:
          $ref: '#/components/schemas/ProjectUrn'
        workzoneId:
          $ref: '#/components/schemas/WorkzoneUrn'
        name:
          type: string
          example: fileName
        formatId:
          $ref: '#/components/schemas/FormatUrn'
        size:
          type: integer
          format: int64
          minimum: 0
          description: File size in Bytes
        createdAt:
          $ref: '#/components/schemas/DateTime'
        createdBy:
          $ref: '#/components/schemas/UserUrn'
        updatedAt:
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/DateTime'
        updatedBy:
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/UserUrn'
    FileBlob:
      type: object
      required:
      - blob
      - blobName
      - url
      properties:
        blob:
          type: string
          deprecated: true
          description: use `blobName` instead. `blob` will be removed the 1st of november 2025
          allOf:
          - $ref: '#/components/schemas/BlobName'
        blobName:
          $ref: '#/components/schemas/BlobName'
        url:
          $ref: '#/components/schemas/Url'
    MiscFile:
      allOf:
      - $ref: '#/components/schemas/FileBase'
      - $ref: '#/components/schemas/FileBlob'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/FileCategoryMiscFile'
    FormatId:
      type: integer
      readOnly: true
      example: 5
    FileImported:
      type: object
      properties:
        importedAt:
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/DateTime'
    Dimension2d:
      type: object
      required:
      - w
      - h
      properties:
        w:
          type: integer
        h:
          type: integer
    DateTime:
      type: string
      format: date-time
      description: 'The date-time notation as defined by RFC 3339, section 5.6 (ex: 2017-08-18T12:41:31Z)'
      example: '2017-08-18T12:41:31Z'
    Video3d:
      allOf:
      - $ref: '#/components/schemas/FileBase'
      - $ref: '#/components/schemas/FileBlob'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/FileCategoryVideo3d'
    FileUrn:
      type: string
      description: '"urn:cintoo:file:" followed by an UUIDv4

        '
    File:
      type: object
      x-tags:
      - File
      oneOf:
      - $ref: '#/components/schemas/Archive'
      - $ref: '#/components/schemas/Document'
      - $ref: '#/components/schemas/Gaussian'
      - $ref: '#/components/schemas/GeoImage'
      - $ref: '#/components/schemas/Media'
      - $ref: '#/components/schemas/MiscFile'
      - $ref: '#/components/schemas/Model'
      - $ref: '#/components/schemas/ModelReport'
      - $ref: '#/components/schemas/Scan'
      - $ref: '#/components/schemas/SiteMap'
      - $ref: '#/components/schemas/Video3d'
      discriminator:
        propertyName: type
        mapping:
          archive: '#/components/schemas/Archive'
          document: '#/components/schemas/Document'
          gaussian: '#/components/schemas/Gaussian'
          geoImage: '#/components/schemas/GeoImage'
          media: '#/components/schemas/Media'
          miscfile: '#/components/schemas/MiscFile'
          model: '#/components/schemas/Model'
          modelReport: '#/components/schemas/ModelReport'
          scan: '#/components/schemas/Scan'
          sitemap: '#/components/schemas/SiteMap'
          video3d: '#/components/schemas/Video3d'
    bulk-files:
      type: object
      required:
      - name
      - extension
      - size
      - md5
      properties:
        name:
          type: string
          minimum: 1
          maximum: 255
        extension:
          type: string
        size:
          type: integer
          format: int64
        md5:
          type: string
    SiteMap:
      allOf:
      - $ref: '#/components/schemas/FileBase'
      - $ref: '#/components/schemas/FileBlob'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/FileCategorySiteMap'
    Document:
      allOf:
      - $ref: '#/components/schemas/FileBase'
      - $ref: '#/components/schemas/FileBlob'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/FileCategoryDocument'
    FileCategoryDocument:
      type: string
      enum:
      - document
      description: 'Document files: `.doc[x]`, `.xls[x]`, `.ppt[x]`, `.txt`, `.rtf`, `.odt`, `.pdt`, `.pub`, `.csv`'
    FileTransformable:
      type: object
      properties:
        translation:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Vector3D'
          description: 'A vector representing the position in the Workzone,

            with three components in meter: `x`, `y` and `z`

            '
        rotation:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Quaternion'
          description: 'A quaternion representing the rotation,

            with the pivot point being its current position defined by translation.

            It has four components: `x`, `y`, `z` and `w`

            '
        scale:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Vector3D'
          description: 'A vector representing a scale deformation along the three axis

            with three ratio components : `x`, `y` and `z`

            '
    ProjectUrn:
      type: string
      description: '"urn:cintoo:project:" followed by an UUIDv4

        '
    AccountId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    UserUrn:
      type: string
      description: '"urn:cintoo:user:" followed by an UUIDv4

        '
    WorkzoneId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    BlobName:
      type: string
      description: "A `BlobName`: the actual filename of the file in the blob storage.\n\nTo retrieve a blob, two methods are available:\n- using the unitary endpoint [Download a blob](#tag/Project/operation/getBlob), which will automatically forward\n  to the final URL, which is a pre-signed URL, expiring after 3 hours by default.\n- using the bulk endpoint [Get pre-signed urls for multiple blobs](#tag/Project/operation/getBlobs), which will\n  return the list of pre-signed URLs.\n\nWhile the first option is the easiest, as it forwards automatically to the final URL transparently,\nthe second option should be preferred as much as possible to improve performances.\n"
    fileUpdate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          minimum: 1
          maximum: 255
          description: New name for the file
    Media:
      allOf:
      - $ref: '#/components/schemas/FileBase'
      - $ref: '#/components/schemas/FileBlob'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/FileCategoryMedia'
    FileCategoryModel:
      type: string
      enum:
      - model
      description: 'Model files: `.3ds`, `.dae`, `.dxf`, `.ifc`, `.dwg`, `.rvt`, etc.'
    Gaussian:
      allOf:
      - $ref: '#/components/schemas/FileBase'
      - $ref: '#/components/schemas/FileBlob'
      - $ref: '#/components/schemas/FileImported'
      - $ref: '#/components/schemas/FilePlaced'
      - $ref: '#/components/schemas/FileScaled'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/FileCategoryGaussian'
          src:
            $ref: '#/components/schemas/FileSrcGaussian'
    FileCategoryGaussian:
      type: string
      enum:
      - gaussian
      description: 'Gaussian Splatting files: `.ply`, `.spz`'
    Scan:
      allOf:
      - $ref: '#/components/schemas/FileBase'
      - $ref: '#/components/schemas/FileBlob'
      - $ref: '#/components/schemas/FileImported'
      - $ref: '#/components/schemas/FileTransformable'
      - type: object
        required:
        - type
        - translation
        - rotation
        - resolution
        - urlPreview
        - panoramaWidth
        - panoramaHeight
        properties:
          translation: {}
          rotation: {}
          type:
            $ref: '#/components/schemas/FileCategoryScan'
          resolution:
            type: object
            allOf:
            - $ref: '#/components/schemas/Dimension2d'
            description: 'The scan''s resolution: has a `w` and a `h`, respectively for *width* and *height*. This is not the same as `PanoramaWidth` and `PanoramaHeight`

              '
          scanInfo:
            type: string
          blobPreview:
            type: string
            allOf:
            - $ref: '#/components/schemas/BlobName'
          urlPreview:
            type: string
            allOf:
            - $ref: '#/components/schemas/Url'
          panoramaWidth:
            type: number
            format: int
            description: The image's *width*, in pixels
          panoramaHeight:
            type: number
            format: int
            description: The image's *height*, in pixels
          azimuthLeft:
            type: number
            format: float
            description: 'The max left angle of a scan coverage on the azimuth, in radians.

              For instance, a scan with 360 degrees coverage will have -π if the `azimuthLeft` is π

              '
          azimuthRight:
            type: number
            format: float
            description: 'The max right angle of a scan coverage on the azimuth, in radians.

              For instance, a scan with 360 degrees coverage will have π if the `azimuthRight` is -π

              '
          elevationTop:
            type: number
            format: float
            description: 'The max top angle of a scan coverage on the elevation, in radians. For example, a scan with 180 degrees coverage will have π/2 if the `elevationBottom` is -π/2

              '
          elevationBottom:
            type: number
            format: float
            description: 'The max bottom angle of a scan coverage on the elevation, in radians. For example, a scan with 180 degrees coverage will have -π/2 if the `elevationTop` is π/2

              '
          appliedScaleFactor:
            type: number
            format: int
            description: 'Scale value applied while the scans are imported through Cintoo Connect. Mainly used for conversion unit between imperial system and metric system.

              '
          src:
            type: object
            description: Contains metadata usable by the Cintoo Viewer
    ModelReport:
      allOf:
      - $ref: '#/components/schemas/FileBase'
      - $ref: '#/components/schemas/FileBlobOptional'
      - type: object
        required:
        - type
        properties:
          type:
            $ref: '#/components/schemas/FileCategoryModelReport'
          src:
            $ref: '#/components/schemas/FileSrcModelReports'
    Vector3D:
      type: object
      required:
      - x
      - y
      - z
      properties:
        x:
          type: number
          format: double
        y:
          type: number
          format: double
        z:
          type: number
          format: double
    FileSrcGaussian:
      type: object
      required:
      - version
      - name
      - pipelineSha
      - numberOfSplats
      - training
      properties:
        version:
          type: string
          description: Version of the splatting format
          example: '1'
        name:
          type: string
          description: Name of the splatting
          example: splatting
        pipelineSha:
          type: string
          description: SHA hash of the pipeline used to generate the splatting
          example: 524ebd1c8d8a2ecdbc8b47d18cab116ac8b28ae7
        numberOfSplats:
          type: integer
          description: Total number of gaussian splats in the file
          example: 2497204
        training:
          type: object
          required:
          - backend
          - evalMetrics
          properties:
            backend:
              type: string
              description: Training backend used
              example: brush
            evalMetrics:
              type: object
              required:
              - psnr
              - ssim
              properties:
                psnr:
                  type: number
                  format: double
                  description: Peak Signal-to-Noise Ratio metric
                  example: 24.12155
                ssim:
                  type: number
                  format: double
                  description: Structural Similarity Index metric
                  example: 0.8322978
    FileTransformableBody:
      type: object
      properties:
        translation:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Vector3D'
          description: 'A vector representing the position in the Workzone,

            with three components in meter: `x`, `y` and `z`

            '
        rotation:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Quaternion'
          description: 'A quaternion representing the rotation,

            with the pivot point being its current position defined by translation.

            It has four components: `x`, `y`, `z` and `w`

            '
        scale:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Vector3D'
          description: 'A vector representing a scale deformation along the three axis

            with three ratio components : `x`, `y` and `z`

            '
    Model:
      allOf:
      - $ref: '#/components/schemas/FileBase'
      - $ref: '#/components/schemas/FileBlob'
      - $ref: '#/components/schemas/FileImported'
      - $ref: '#/components/schemas/FileTransformable'
      - type: object
        required:
        - type
        - translation
        - contentId
        properties:
          type:
            $ref: '#/components/schemas/FileCategoryModel'
          translation: {}
          src:
            description: Metadata attached to the model. Could be present or not.
            anyOf:
            - type: object
              properties:
                mfi:
                  type: object
                  description: The MFI location and its format
                  required:
                  - blobName
                  - format
                  properties:
                    blobName:
                      $ref: '#/components/schemas/BlobName'
                    format:
                      enum:
                      - json-br-1
                      description: the format of the Model MFI
    FileCategoryGeoImage:
      type: string
      enum:
      - geoImage
      description: 'Geo Image files: `.idd`, `.360`'
    FileScaled:
      type: object
      properties:
        scale:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Vector3D'
          description: 'A vector giving the scaling that we need to apply to make the object fit with other elements of the scene.

            It has ratios for the three directions: `x`, `y` and `z`

            '
    FileCategoryArchive:
      type: string
      enum:
      - archive
      description: 'Archive files: `zip`'
    FormatUrn:
      type: string
      description: '"urn:cintoo:format:" followed by a number

        '
    FileCategoryScan:
      type: string
      enum:
      - scan
      description: 'Scan files: `.fls`, `.e57`, etc.'
    filesTransformationUpdate:
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/FileTransformableBody'
        - type: object
          required:
          - id
          properties:
            id:
              $ref: '#/components/schemas/FileUrn'
    FileId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    Url:
      type: string
      format: uri
      description: Link that will redirect to 302 signed link to download the corresponding file.
    Error:
      type: object
      required:
      - status
      - title
      properties:
        status:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
          description: human readable description of the error in english
        errorCode:
          type: string
          description: detailed code describing error, can be used to map to a localized message
        errorValues:
          type: object
          description: values implied in the error, typically an input parameter, can be used to include in a localized message
    FileCategorySiteMap:
      type: string
      enum:
      - sitemap
      description: 'Site Map files: `.map`'
    FileSrcModelReports:
      type: object
      required:
      - model
      - elements
      - scans
      - tolerance
      properties:
        model:
          $ref: '#/components/schemas/FileUrn'
        elements:
          type: array
          items:
            type: string
        scans:
          type: array
          items:
            $ref: '#/components/schemas/FileUrn'
        tolerance:
          type: number
    Quaternion:
      type: object
      required:
      - x
      - y
      - z
      - w
      properties:
        x:
          type: number
          format: float
        y:
          type: number
          format: float
        z:
          type: number
          format: float
        w:
          type: number
          format: float
    FileCategoryModelReport:
      type: string
      enum:
      - modelReport
      description: 'Model report files: `.cipm`'
    Uuid:
      type: string
      description: UUIDv4
      format: uuid
      example: 156fff1a-0ef7-4335-891a-627928a19e29
    FileCategoryMedia:
      type: string
      enum:
      - media
      description: 'Media files: `.png`, `.jp[e]g`, `.gif`, `.bmp`, `.tiff`'
    ProjectId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    GeoImage:
      allOf:
      - $ref: '#/components/schemas/FileBase'
      - $ref: '#/components/schemas/FileBlob'
      - $ref: '#/components/schemas/FileImported'
      - $ref: '#/components/schemas/FilePlaced'
      - type: object
        required:
        - type
        - resolution
        - urlPreview
        - panoramaWidth
        - panoramaHeight
        properties:
          type:
            $ref: '#/components/schemas/FileCategoryGeoImage'
          resolution:
            type: object
            allOf:
            - $ref: '#/components/schemas/Dimension2d'
            description: 'The image''s resolution: has a `w` and a `h`, respectively for *width* and *height*. This is not the same as `PanoramaWidth` and `PanoramaHeight`

              '
          scanInfo:
            type: string
          blobPreview:
            type: string
            allOf:
            - $ref: '#/components/schemas/BlobName'
          urlPreview:
            type: string
            allOf:
            - $ref: '#/components/schemas/Url'
          panoramaWidth:
            type: number
            format: int
            description: The image's *width*, in pixels
          panoramaHeight:
            type: number
            format: int
            description: The image's *height*, in pixels
          src:
            type: object
            description: Contains metadata usable by the Cintoo Viewer
            properties:
              idd:
                type: object
                properties:
                  scan_id:
                    type: string
                  scan_guid:
                    type: string
                    description: Optional external scan identifier, carried over from the import CSV.
                  idd_type:
                    type: string
                    example: Corrosion
              fileStatus:
                type: string
                enum:
                - pending
                - success
                - failure
                description: Cloud import job status of this IDD image (absent for legacy Connect imports, treated as success).
    FileFormat:
      type: object
      x-tags:
      - File
      required:
      - id
      - name
      - description
      - extension
      - icon
      - canBeUploaded
      - shareUrlType
      - categoryName
      - categoryDescription
      - categoryType
      properties:
        id:
          $ref: '#/components/schemas/FormatId'
        name:
          type: string
        description:
          type: string
        extension:
          type: string
        icon:
          type: string
        canBeUploaded:
          type: boolean
        shareUrlType:
          type: string
        categoryName:
          type: string
        categoryDescription:
          type: string
        categoryType:
          type: string
    FileCategoryVideo3d:
      type: string
      enum:
      - video3d
      description: 'Video3d files: `.mp4`'
  responses:
    UnexpectedError:
      description: unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            '400':
              value:
                status: 400
                title: Bad Request
            '401':
              value:
                status: 401
                title: Unauthorized
            '403':
              value:
                status: 403
                title: Forbidden
            '404':
              value:
                status: 404
                title: Not Found
            '405':
              value:
                status: 405
                title: Method Not Allowed
            '406':
              value:
                status: 406
                title: Not Acceptable
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://aec.cintoo.com/oauth/authorize
          tokenUrl: https://aec.cintoo.com/oauth/token
          scopes: {}
          refreshUrl: https://aec.cintoo.com/oauth/token
x-tagGroups:
- name: General
  tags:
  - errors_list
  - internal_information
  - token_management
  - Permissions
  - Authentication
- name: Resources
  tags:
  - Resources
- name: Tenant
  tags:
  - Tenant
- name: Account
  tags:
  - Account
  - Subscription
  - Role
  - User
  - Group
  - Trusted Device
- name: Subscription
  tags:
  - Usage Report
- name: Project
  tags:
  - Project
  - Members
  - Workzone
- name: Project Data
  tags:
  - File
  - Annotation
  - Saved View
  - Share Link
  - Crop
  - Measurement
  - Tag List
  - Tag
- name: Jobs
  tags:
  - Progress Monitoring
  - Import Model
  - Export Scene
  - Segmentation
  - Video360
  - Import IDD
- name: Integrations
  tags:
  - Integrations
  - Konekt
  - Autodesk
  - Procore
- name: Tutorials
  tags:
  - tuto_upload_file
  - understand_tag_data
