openapi: 3.2.0
info:
  version: 2.0.0
  title: Cintoo Open Usage Report API
  description: 'Cintoo Open API 1.x documentation: https://aec.cintoo.com/api


    BETA: API v2 endpoints tagged "BETA" are available in beta-version, meaning that changes may be done later on.'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: API Support
    email: support@cintoo.com
  x-logo:
    url: ./assets/logo_api.svg
    altText: Cintoo API
servers:
- url: https://aec.cintoo.com
security:
- oauth2: []
tags:
- name: Usage Report
paths:
  /api/2/accounts/{accountRef}/subscriptions/{subscriptionRef}/usage-report:
    get:
      summary: Generate an Usage Report
      operationId: getUsageReport
      description: 'BETA- Generate an Usage Report, listing actions done per day, per user, per project on a given subscription.


        This endpoint is unavailable when the tenant setting `hidePrivacyData` is enabled.'
      tags:
      - Usage Report
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/subscriptionRef'
      - in: query
        name: from
        schema:
          $ref: '#/components/schemas/date'
        description: The date to start to retrieve usage report data from (included)
      - in: query
        name: until
        schema:
          $ref: '#/components/schemas/date'
        description: The date to start to retrieve usage report data from (included)
      - in: query
        name: includeDeleted
        schema:
          type: boolean
        description: Also export deleted (including permanently deleted) projects
      responses:
        '200':
          description: Redirection to a pre-signed download link, in the Location header
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UsageReport'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport SUBSCRIPTIONUUID=...\n\ncurl --location \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/subscriptions/$SUBSCRIPTIONUUID/usage-report?from=2025-09-29&includeDeleted=true\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nsubscriptionUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/subscriptions/%s/usage-report?from=2025-09-29&includeDeleted=true\"\n    % (host, accountUUID, subscriptionUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst subscriptionUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/subscriptions/${subscriptionUUID}/usage-report?from=2025-09-29&includeDeleted=true`;\nconst res = await fetch(url, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
components:
  schemas:
    UsageReport:
      type: object
      x-tags:
      - Usage Report
      required:
      - date
      - userId
      - firstName
      - email
      - projectId
      - projectName
      - scansUploaded
      - scansDownload
      - 360ImagesUploaded
      - cropsDownloaded
      - unifiedMeshesCreated
      - tagsUploaded
      - tagsDownloaded
      properties:
        date:
          $ref: '#/components/schemas/Date'
        userId:
          $ref: '#/components/schemas/UserUrn'
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        company:
          type: string
        projectId:
          $ref: '#/components/schemas/ProjectUrn'
        projectName:
          type: string
        scansUploaded:
          type: integer
        scansDownload:
          type: integer
        360ImagesUploaded:
          type: integer
        cropsDownloaded:
          type: integer
        unifiedMeshesCreated:
          type: integer
        tagsUploaded:
          type: integer
        tagsDownloaded:
          type: integer
    SubscriptionId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    SubscriptionUrn:
      type: string
      description: '"urn:cintoo:subscription:" followed by an UUIDv4

        '
    Error:
      type: object
      required:
      - status
      - title
      properties:
        status:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
          description: human readable description of the error in english
        errorCode:
          type: string
          description: detailed code describing error, can be used to map to a localized message
        errorValues:
          type: object
          description: values implied in the error, typically an input parameter, can be used to include in a localized message
    AccountUrn:
      type: string
      description: '"urn:cintoo:account:" followed by an UUIDv4

        '
    Date:
      type: string
      format: date
      description: 'The date-time notation as defined by RFC 3339, section 5.6 (ex: 2017-08-18)'
      example: '2017-07-21'
    ProjectUrn:
      type: string
      description: '"urn:cintoo:project:" followed by an UUIDv4

        '
    Uuid:
      type: string
      description: UUIDv4
      format: uuid
      example: 156fff1a-0ef7-4335-891a-627928a19e29
    date:
      type: string
      format: date
      description: 'The date-time notation as defined by RFC 3339, section 5.6 (ex: 2017-08-18)'
      example: '2017-07-21'
    AccountId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    UserUrn:
      type: string
      description: '"urn:cintoo:user:" followed by an UUIDv4

        '
  parameters:
    accountRef:
      name: accountRef
      in: path
      required: true
      description: The Id or Urn of the account
      schema:
        oneOf:
        - $ref: '#/components/schemas/AccountUrn'
        - $ref: '#/components/schemas/AccountId'
    subscriptionRef:
      name: subscriptionRef
      in: path
      required: true
      description: The Id or Urn of the subscription
      schema:
        oneOf:
        - $ref: '#/components/schemas/SubscriptionUrn'
        - $ref: '#/components/schemas/SubscriptionId'
  responses:
    UnexpectedError:
      description: unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            '400':
              value:
                status: 400
                title: Bad Request
            '401':
              value:
                status: 401
                title: Unauthorized
            '403':
              value:
                status: 403
                title: Forbidden
            '404':
              value:
                status: 404
                title: Not Found
            '405':
              value:
                status: 405
                title: Method Not Allowed
            '406':
              value:
                status: 406
                title: Not Acceptable
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://aec.cintoo.com/oauth/authorize
          tokenUrl: https://aec.cintoo.com/oauth/token
          scopes: {}
          refreshUrl: https://aec.cintoo.com/oauth/token
x-tagGroups:
- name: General
  tags:
  - errors_list
  - internal_information
  - token_management
  - Permissions
  - Authentication
- name: Resources
  tags:
  - Resources
- name: Tenant
  tags:
  - Tenant
- name: Account
  tags:
  - Account
  - Subscription
  - Role
  - User
  - Group
  - Trusted Device
- name: Subscription
  tags:
  - Usage Report
- name: Project
  tags:
  - Project
  - Members
  - Workzone
- name: Project Data
  tags:
  - File
  - Annotation
  - Saved View
  - Share Link
  - Crop
  - Measurement
  - Tag List
  - Tag
- name: Jobs
  tags:
  - Progress Monitoring
  - Import Model
  - Export Scene
  - Segmentation
  - Video360
  - Import IDD
- name: Integrations
  tags:
  - Integrations
  - Konekt
  - Autodesk
  - Procore
- name: Tutorials
  tags:
  - tuto_upload_file
  - understand_tag_data
