openapi: 3.2.0
info:
  version: 2.0.0
  title: Cintoo Open Konekt API
  description: 'Cintoo Open API 1.x documentation: https://aec.cintoo.com/api


    BETA: API v2 endpoints tagged "BETA" are available in beta-version, meaning that changes may be done later on.'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: API Support
    email: support@cintoo.com
  x-logo:
    url: ./assets/logo_api.svg
    altText: Cintoo API
servers:
- url: https://aec.cintoo.com
security:
- oauth2: []
tags:
- name: Konekt
paths:
  /api/2/accounts/{accountRef}/integrations/konekt:
    post:
      summary: Create an account integration with Konekt
      operationId: createAccountIntegrationKonekt
      description: 'BETAConfigure an integration on the account with Newforma Konekt.


        Requires the permission `account:integrations:write` automatically granted for account administrators and account owner.'
      tags:
      - Konekt
      parameters:
      - $ref: '#/components/parameters/accountRef'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountIntegrationKonektCreate'
      responses:
        '201':
          description: The integration was successfully created or updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountIntegrationKonekt'
        '409':
          description: A configuration already exists with the same Konekt Hub
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorConflict'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\n\ncurl --request POST --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/integrations/konekt\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data \"{\\\"token\\\":\\\"...\\\"}\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/integrations/konekt\"\n    % (host, accountUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"token\": \"...\"\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/integrations/konekt`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\"token\":\"...\"}\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/integrations/konekt/{integrationRef}:
    get:
      summary: Get an account integration with Konekt
      operationId: getKonektAccountIntegrationById
      description: 'BETAGet an integration with Newforma Konekt configured on the account


        Requires the permission `account:integrations:read` automatically granted for account administrators and account owner.'
      tags:
      - Konekt
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/accountIntegrationKonektRef'
      responses:
        '200':
          description: account integration to Konekt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountIntegrationKonekt'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport INTEGRATIONUUID=...\n\ncurl --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/integrations/konekt/$INTEGRATIONUUID\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nintegrationUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/integrations/konekt/%s\"\n    % (host, accountUUID, integrationUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst integrationUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/integrations/konekt/${integrationUUID}`;\nconst res = await fetch(url, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nif (res.status !== 204) {\n  const data = await res.json();\n  console.log(data);\n}\n"
    put:
      summary: Update an account integration with Konekt
      operationId: updateKonektAccountIntegration
      description: 'BETAUpdate the configuration for the integration with Newforma Konekt.


        Requires the permission `account:integrations:write` automatically granted for account administrators and account owner.'
      tags:
      - Konekt
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/accountIntegrationKonektRef'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountIntegrationKonektUpdate'
      responses:
        '200':
          description: The integration was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountIntegrationKonekt'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport INTEGRATIONUUID=...\n\ncurl --request PUT --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/integrations/konekt/$INTEGRATIONUUID\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data \"{\\\"options\\\":{\\\"allowCreateNewUsersOnHub\\\":false}}\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nintegrationUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.put(\n  \"https://%s/api/2/accounts/%s/integrations/konekt/%s\"\n    % (host, accountUUID, integrationUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"options\": {\"allowCreateNewUsersOnHub\": False}\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst integrationUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/integrations/konekt/${integrationUUID}`;\nconst res = await fetch(url, {\n  method: \"PUT\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\"options\":{\"allowCreateNewUsersOnHub\":false}}\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
    delete:
      summary: Delete an account integration with Konekt
      operationId: deleteKonektAccountIntegration
      description: 'BETADelete an integration with Newforma Konekt on the account.


        Requires the permission `account:integrations:write` automatically granted for account administrators and account owner.'
      tags:
      - Konekt
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/accountIntegrationKonektRef'
      responses:
        '204':
          description: The integration was successfully deleted
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport INTEGRATIONUUID=...\n\ncurl --request DELETE --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/integrations/konekt/$INTEGRATIONUUID\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nintegrationUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.delete(\n  \"https://%s/api/2/accounts/%s/integrations/konekt/%s\"\n    % (host, accountUUID, integrationUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst integrationUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/integrations/konekt/${integrationUUID}`;\nconst res = await fetch(url, {\n  method: \"DELETE\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nif (res.status !== 204) {\n  const data = await res.json();\n  console.log(data);\n}\n"
  /api/2/accounts/{accountRef}/integrations/konekt/{integrationRef}/connection:
    post:
      summary: Connect an account integration with Konekt
      operationId: connectKonektAccountIntegration
      description: 'BETAConnect an integration previously disconnected.


        Requires the permission `account:integrations:write` automatically granted for account administrators and account owner.'
      tags:
      - Konekt
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/accountIntegrationKonektRef'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountIntegrationConnectionKonektCreate'
      responses:
        '200':
          description: The connection was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountIntegrationKonekt'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport INTEGRATIONUUID=...\n\ncurl --request POST --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/integrations/konekt/$INTEGRATIONUUID/connection\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data \"{\\\"token\\\":\\\"...\\\"}\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nintegrationUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/integrations/konekt/%s/connection\"\n    % (host, accountUUID, integrationUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"token\": \"...\"\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst integrationUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/integrations/konekt/${integrationUUID}/connection`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\"token\":\"...\"}\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
    delete:
      summary: Disconnect an account integration with Konekt
      operationId: deleteKonektAccountIntegrationConnection
      description: 'BETADisconnect an integration without removing it.


        Requires the permission `account:integrations:write` automatically granted for account administrators and account owner.'
      tags:
      - Konekt
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/accountIntegrationKonektRef'
      responses:
        '204':
          description: The connection was successfully deleted
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport INTEGRATIONUUID=...\n\ncurl --request DELETE --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/integrations/konekt/$INTEGRATIONUUID/connection\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nintegrationUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.delete(\n  \"https://%s/api/2/accounts/%s/integrations/konekt/%s/connection\"\n    % (host, accountUUID, integrationUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst integrationUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/integrations/konekt/${integrationUUID}/connection`;\nconst res = await fetch(url, {\n  method: \"DELETE\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nif (res.status !== 204) {\n  const data = await res.json();\n  console.log(data);\n}\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/integrations/konekt:
    get:
      summary: Get configuration of integration with Konekt on a Project
      operationId: getKonektProjectIntegration
      description: 'BETAGet the integration with Newforma Konekt configured on the project


        Requires the permission `project:integrations:read` automatically granted for users having

        `workzone:annotations:write` on the root work zone of the project.'
      tags:
      - Konekt
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      responses:
        '200':
          description: The configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectIntegrationKonekt'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/integrations/konekt\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/projects/%s/integrations/konekt\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/integrations/konekt`;\nconst res = await fetch(url, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
    post:
      summary: Create configuration of integration with Konekt on Project
      operationId: createKonektProjectIntegration
      description: 'BETACreate the configuration for the integration with Newforma Konekt.


        Requires the permission `project:integrations:write` automatically granted for users having

        `workzone:annotations:write` on the root work zone of the project.'
      tags:
      - Konekt
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/projectIntegrationKonektCreate'
      responses:
        '201':
          description: The integration was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectIntegrationKonekt'
        '409':
          description: A configuration already exists on this project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorConflict'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --request POST --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/integrations/konekt\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data \"{\\\"hubId\\\":\\\"...\\\",\\\"konektProjectId\\\":1,\\\"options\\\":{\\\"allowInviteUsers\\\":false,\\\"syncStrategy\\\":\\\"BOTH_WAY\\\"}}\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/projects/%s/integrations/konekt\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"hubId\": \"...\",\n    \"konektProjectId\": 1,\n    \"options\": {\"allowInviteUsers\": False, \"syncStrategy\": \"BOTH_WAY\"}\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/integrations/konekt`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\"hubId\":\"...\",\"konektProjectId\":1,\"options\":{\"allowInviteUsers\":false,\"syncStrategy\":\"BOTH_WAY\"}}\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
    put:
      summary: Update configuration of the integration with Konekt on Project
      operationId: updateKonektProjectIntegration
      description: 'BETAUpdate the configuration for the integration with Newforma Konekt.


        Requires the permission `project:integrations:write` automatically granted for users having

        `workzone:annotations:write` on the root work zone of the project.'
      tags:
      - Konekt
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/projectIntegrationKonektUpdate'
      responses:
        '200':
          description: The integration was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectIntegrationKonekt'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --request PUT --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/integrations/konekt\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data \"{\\\"hubId\\\":\\\"...\\\",\\\"konektProjectId\\\":1,\\\"options\\\":{\\\"allowInviteUsers\\\":false,\\\"syncStrategy\\\":\\\"BOTH_WAY\\\"}}\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.put(\n  \"https://%s/api/2/accounts/%s/projects/%s/integrations/konekt\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"hubId\": \"...\",\n    \"konektProjectId\": 1,\n    \"options\": {\"allowInviteUsers\": False, \"syncStrategy\": \"BOTH_WAY\"}\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/integrations/konekt`;\nconst res = await fetch(url, {\n  method: \"PUT\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\"hubId\":\"...\",\"konektProjectId\":1,\"options\":{\"allowInviteUsers\":false,\"syncStrategy\":\"BOTH_WAY\"}}\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
    delete:
      summary: Delete the integration with Konekt on Project
      operationId: deleteKonektProjectIntegration
      description: 'BETADelete the integration with Newforma Konekt on the project.


        Requires the permission `project:integrations:write` automatically granted for users having

        `workzone:annotations:write` on the root work zone of the project.'
      tags:
      - Konekt
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      responses:
        '204':
          description: The integration was successfully deleted
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --request DELETE --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/integrations/konekt\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.delete(\n  \"https://%s/api/2/accounts/%s/projects/%s/integrations/konekt\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token }\n)\nprint(response.status_code)\nif response.status_code != 204:\n  print(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/integrations/konekt`;\nconst res = await fetch(url, {\n  method: \"DELETE\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nif (res.status !== 204) {\n  const data = await res.json();\n  console.log(data);\n}\n"
components:
  schemas:
    ProjectIntegrationNewformaKonektOptionsInput:
      type: object
      description: 'Konekt options accepted when creating/updating a project integration. `syncStrategy` is optional

        (defaults from the hub configuration); the response shape is

        `ProjectIntegrationNewformaKonektOptions.yaml`.

        '
      required:
      - allowInviteUsers
      properties:
        allowInviteUsers:
          type: boolean
          description: if true it allows to invite users on the Konekt project when synchronizing data
        syncStrategy:
          type:
          - string
          - 'null'
          enum:
          - BOTH_WAY
          - UPDATES_ONLY_FROM_KONEKT
          description: 'BOTH_WAY means an update on Cintoo triggers an update on Konekt.


            UPDATES_ONLY_FROM_KONEKT means an update on Cintoo does not trigger an update on Konekt.


            BOTH_WAY and UPDATES_ONLY_FROM_KONEKT means an update on Konekt will trigger an update on Cintoo.

            '
    projectIntegrationKonektCreate:
      type: object
      required:
      - hubId
      - konektProjectId
      - options
      properties:
        hubId:
          type: string
          minLength: 1
          description: id of the hub on Konekt
        konektProjectId:
          type:
          - integer
          - 'null'
          description: id of the project on Konekt
        options:
          $ref: '#/components/schemas/ProjectIntegrationNewformaKonektOptionsInput'
    AccountUrn:
      type: string
      description: '"urn:cintoo:account:" followed by an UUIDv4

        '
    AccountIntegrationKonekt:
      type: object
      x-tags:
      - Konekt
      required:
      - id
      - konektId
      - beta
      - modificationInfo
      - link
      - options
      - name
      - connected
      - konektProjects
      - linkedProjects
      properties:
        id:
          $ref: '#/components/schemas/AccountIntegrationKonektUrn'
        konektId:
          type: string
          description: id of the hub on Konekt
        beta:
          type: boolean
          description: indicates if the hub is on Konekt beta or Konekt production
        modificationInfo:
          $ref: '#/components/schemas/ModificationInfo'
        link:
          type: string
        options:
          $ref: '#/components/schemas/AccountIntegrationNewformaKonektOptions'
        name:
          type: string
          description: name of the hub on Konekt if available
        connected:
          type: boolean
          description: indicates if a valid token is configured
        konektProjects:
          type: array
          items:
            $ref: '#/components/schemas/ProjectInKonektHub'
          description: list of projects on the Konekt Hub
        linkedProjects:
          type: array
          items:
            $ref: '#/components/schemas/AccountIntegrationNewformaKonektLinkedProject'
          description: Cintoo projects configured with this Konekt Hub
    accountIntegrationKonektUpdate:
      type: object
      required:
      - options
      properties:
        options:
          $ref: '#/components/schemas/AccountIntegrationNewformaKonektOptionsInput'
    DateTime:
      type: string
      format: date-time
      description: 'The date-time notation as defined by RFC 3339, section 5.6 (ex: 2017-08-18T12:41:31Z)'
      example: '2017-08-18T12:41:31Z'
    ErrorConflict:
      type: object
      required:
      - status
      - title
      properties:
        status:
          type: integer
          format: int32
          enum:
          - 409
        title:
          type: string
          enum:
          - Conflict
        detail:
          type: string
          description: human readable description of the error in english
    AccountIntegrationNewformaKonektOptionsInput:
      type: object
      description: 'Konekt hub options accepted when creating/updating an account integration. Both fields are

        optional (they default server-side); the response shape is

        `AccountIntegrationNewformaKonektOptions.yaml`.

        '
      properties:
        allowCreateNewUsersOnHub:
          type: boolean
          description: if true it allows to create automatically new users on the Konekt Hub when synchronizing data
        syncStrategy:
          type: string
          enum:
          - CONFIG_ON_PROJECT
          - BOTH_WAY
          - UPDATES_ONLY_FROM_KONEKT
          description: 'CONFIG_ON_PROJECT means the option needs to be configured on each project.


            BOTH_WAY means an update on Cintoo triggers an update on Konekt.


            UPDATES_ONLY_FROM_KONEKT means an update on Cintoo does not trigger an update on Konekt.


            BOTH_WAY and UPDATES_ONLY_FROM_KONEKT means an update on Konekt will trigger an update on Cintoo.

            '
    AccountIntegrationNewformaKonektOptions:
      type: object
      required:
      - allowCreateNewUsersOnHub
      - syncStrategy
      properties:
        allowCreateNewUsersOnHub:
          type: boolean
          description: if true it allows to create automatically new users on the Konekt Hub when synchronizing data
        syncStrategy:
          type: string
          enum:
          - CONFIG_ON_PROJECT
          - BOTH_WAY
          - UPDATES_ONLY_FROM_KONEKT
          description: 'CONFIG_ON_PROJECT means the option needs to be configured on each project.


            BOTH_WAY means an update on Cintoo triggers an update on Konekt.


            UPDATES_ONLY_FROM_KONEKT means an update on Cintoo does not trigger an update on Konekt.


            BOTH_WAY and UPDATES_ONLY_FROM_KONEKT means an update on Konekt will trigger an update on Cintoo.

            '
    ProjectIntegrationNewformaKonektOptions:
      type: object
      required:
      - allowInviteUsers
      - syncStrategy
      properties:
        allowInviteUsers:
          type: boolean
          description: if true it allows to invite users on the Konekt project when synchronizing data
        syncStrategy:
          type: string
          enum:
          - BOTH_WAY
          - UPDATES_ONLY_FROM_KONEKT
          description: 'BOTH_WAY means an update on Cintoo triggers an update on Konekt.


            UPDATES_ONLY_FROM_KONEKT means an update on Cintoo does not trigger an update on Konekt.


            BOTH_WAY and UPDATES_ONLY_FROM_KONEKT means an update on Konekt will trigger an update on Cintoo.

            '
    ProjectUrn:
      type: string
      description: '"urn:cintoo:project:" followed by an UUIDv4

        '
    UserUrn:
      type: string
      description: '"urn:cintoo:user:" followed by an UUIDv4

        '
    projectIntegrationKonektUpdate:
      type: object
      required:
      - hubId
      - konektProjectId
      - options
      properties:
        hubId:
          type: string
          minLength: 1
          description: id of the hub on Konekt
        konektProjectId:
          type:
          - integer
          - 'null'
          description: id of the project on Konekt
        options:
          $ref: '#/components/schemas/ProjectIntegrationNewformaKonektOptionsInput'
    AccountId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    ModificationInfo:
      type: object
      required:
      - createdBy
      - isDeleted
      properties:
        createdAt:
          type: string
          allOf:
          - $ref: '#/components/schemas/DateTime'
        createdBy:
          $ref: '#/components/schemas/UserUrn'
        updatedAt:
          type: string
          allOf:
          - $ref: '#/components/schemas/DateTime'
        updatedBy:
          type: string
          allOf:
          - $ref: '#/components/schemas/UserUrn'
        deletedAt:
          type: string
          allOf:
          - $ref: '#/components/schemas/DateTime'
        deletedBy:
          type: string
          allOf:
          - $ref: '#/components/schemas/UserUrn'
        isDeleted:
          type: boolean
    ProjectInKonektHub:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          description: id of the project on Konekt
        name:
          type: string
          description: name of the project on Konekt
    ProjectIntegrationKonekt:
      type: object
      x-tags:
      - Konekt
      required:
      - projectId
      - hubId
      - konektId
      - options
      - link
      - createdAt
      - createdBy
      - updatedAt
      - updatedBy
      properties:
        projectId:
          $ref: '#/components/schemas/ProjectUrn'
        hubId:
          type: string
          description: id of the hub on Konekt
        konektId:
          type: integer
          description: id of the project on Konekt
        options:
          $ref: '#/components/schemas/ProjectIntegrationNewformaKonektOptions'
        link:
          type: string
        createdAt:
          $ref: '#/components/schemas/DateTime'
        createdBy:
          $ref: '#/components/schemas/UserUrn'
        updatedAt:
          $ref: '#/components/schemas/DateTime'
        updatedBy:
          $ref: '#/components/schemas/UserUrn'
    AccountIntegrationKonektUrn:
      type: string
      description: '"urn:cintoo:newforma-konekt-hub:" followed by an UUIDv4

        '
    Error:
      type: object
      required:
      - status
      - title
      properties:
        status:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
          description: human readable description of the error in english
        errorCode:
          type: string
          description: detailed code describing error, can be used to map to a localized message
        errorValues:
          type: object
          description: values implied in the error, typically an input parameter, can be used to include in a localized message
    AccountIntegrationNewformaKonektLinkedProject:
      type: object
      required:
      - id
      - konektId
      - options
      properties:
        id:
          $ref: '#/components/schemas/ProjectUrn'
        konektId:
          type: integer
        options:
          $ref: '#/components/schemas/ProjectIntegrationNewformaKonektOptions'
    Uuid:
      type: string
      description: UUIDv4
      format: uuid
      example: 156fff1a-0ef7-4335-891a-627928a19e29
    ProjectId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    accountIntegrationConnectionKonektCreate:
      type: object
      required:
      - token
      properties:
        token:
          type: string
          minLength: 1
          description: A valid API token for Newforma Konekt
    accountIntegrationKonektCreate:
      type: object
      required:
      - token
      properties:
        token:
          type: string
          minLength: 1
          description: A valid API token for Newforma Konekt
        options:
          allOf:
          - $ref: '#/components/schemas/AccountIntegrationNewformaKonektOptionsInput'
          type:
          - object
          - 'null'
  parameters:
    accountIntegrationKonektRef:
      name: integrationRef
      in: path
      required: true
      description: The Urn of the integration
      schema:
        $ref: '#/components/schemas/AccountIntegrationKonektUrn'
    accountRef:
      name: accountRef
      in: path
      required: true
      description: The Id or Urn of the account
      schema:
        oneOf:
        - $ref: '#/components/schemas/AccountUrn'
        - $ref: '#/components/schemas/AccountId'
    projectRef:
      name: projectRef
      in: path
      required: true
      description: The Id or Urn of the project
      schema:
        oneOf:
        - $ref: '#/components/schemas/ProjectUrn'
        - $ref: '#/components/schemas/ProjectId'
  responses:
    UnexpectedError:
      description: unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            '400':
              value:
                status: 400
                title: Bad Request
            '401':
              value:
                status: 401
                title: Unauthorized
            '403':
              value:
                status: 403
                title: Forbidden
            '404':
              value:
                status: 404
                title: Not Found
            '405':
              value:
                status: 405
                title: Method Not Allowed
            '406':
              value:
                status: 406
                title: Not Acceptable
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://aec.cintoo.com/oauth/authorize
          tokenUrl: https://aec.cintoo.com/oauth/token
          scopes: {}
          refreshUrl: https://aec.cintoo.com/oauth/token
x-tagGroups:
- name: General
  tags:
  - errors_list
  - internal_information
  - token_management
  - Permissions
  - Authentication
- name: Resources
  tags:
  - Resources
- name: Tenant
  tags:
  - Tenant
- name: Account
  tags:
  - Account
  - Subscription
  - Role
  - User
  - Group
  - Trusted Device
- name: Subscription
  tags:
  - Usage Report
- name: Project
  tags:
  - Project
  - Members
  - Workzone
- name: Project Data
  tags:
  - File
  - Annotation
  - Saved View
  - Share Link
  - Crop
  - Measurement
  - Tag List
  - Tag
- name: Jobs
  tags:
  - Progress Monitoring
  - Import Model
  - Export Scene
  - Segmentation
  - Video360
  - Import IDD
- name: Integrations
  tags:
  - Integrations
  - Konekt
  - Autodesk
  - Procore
- name: Tutorials
  tags:
  - tuto_upload_file
  - understand_tag_data
