openapi: 3.2.0
info:
  version: 2.0.0
  title: Cintoo Open Project API
  description: 'Cintoo Open API 1.x documentation: https://aec.cintoo.com/api


    BETA: API v2 endpoints tagged "BETA" are available in beta-version, meaning that changes may be done later on.'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: API Support
    email: support@cintoo.com
  x-logo:
    url: ./assets/logo_api.svg
    altText: Cintoo API
servers:
- url: https://aec.cintoo.com
security:
- oauth2: []
tags:
- name: Project
paths:
  /api/2/accounts/{accountRef}/projects:
    get:
      summary: List Projects
      operationId: getProjects
      description: BETAList active and deleted projects into this account.
      tags:
      - Project
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/countScans'
      - $ref: '#/components/parameters/countTags'
      - $ref: '#/components/parameters/countWorkzones'
      responses:
        '200':
          description: List and content of the Projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\n\n# Default: statsInfo includes all statistics\ncurl --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n\n# Disable all statistics for faster response\ncurl --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects?countScans=false&countTags=false&countWorkzones=false\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\ntoken = \"...\"\n\n# Default: statsInfo includes all statistics\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/projects\"\n    % (host, accountUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprojects = response.json()\nfor project in projects:\n    print(project[\"name\"], project[\"statsInfo\"])  # {\"scanCount\": ..., ...}\n\n# Disable all statistics for faster response\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/projects\"\n    % (host, accountUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token},\n  params = { \"countScans\": \"false\", \"countTags\": \"false\", \"countWorkzones\": \"false\" }\n)\nprojects = response.json()\nfor project in projects:\n    # statsInfo is null when all count* params are false\n    print(project[\"name\"], project[\"statsInfo\"])  # None\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst token = \"...\";\n\n// Default: statsInfo includes all statistics\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects`;\nconst res = await fetch(url, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\nconst projects = await res.json();\nfor (const project of projects) {\n  console.log(project.name, project.statsInfo); // { scanCount, scanSize, tagCount, workzoneCount }\n}\n\n// Disable all statistics for faster response\nconst params = new URLSearchParams({\n  countScans: \"false\",\n  countTags: \"false\",\n  countWorkzones: \"false\",\n});\nconst urlFast = `${url}?${params}`;\nconst resFast = await fetch(urlFast, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\nconst projectsFast = await resFast.json();\nfor (const project of projectsFast) {\n  // statsInfo is null when all count* params are false\n  console.log(project.name, project.statsInfo); // null\n}\n"
    post:
      summary: Create Project
      operationId: createProject
      description: 'BETACreate a project.


        Requires the permission `account:projects:create` on the account.'
      tags:
      - Project
      parameters:
      - $ref: '#/components/parameters/accountRef'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - subscriptionId
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 1000
                subscriptionId:
                  $ref: '#/components/schemas/SubscriptionRef'
                region:
                  type:
                  - string
                  - 'null'
                location:
                  type:
                  - object
                  - 'null'
                  allOf:
                  - $ref: '#/components/schemas/Location'
                cover:
                  type:
                  - string
                  - 'null'
                  minLength: 1
                  maxLength: 255
                spatialReference:
                  type:
                  - object
                  - 'null'
                  allOf:
                  - $ref: '#/components/schemas/SpatialReference'
                coordinatesTransformation:
                  type:
                  - object
                  - 'null'
                  allOf:
                  - $ref: '#/components/schemas/CoordinatesTransformationBody'
      responses:
        '201':
          description: The project was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: The subscription is not active
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorBadRequest'
                - type: object
                  properties:
                    errorCode:
                      type: string
                      description: '* `subscription-not-active` if the subscription is not active

                        * `region-not-found` if the supplied region name is not known

                        * `invalid-coordinates-transformation` if the selected transformation method does not have its corresponding parameters, or if a coordinates transformation is set without a spatial reference

                        '
                    errorValues:
                      type: object
                      properties:
                        subscriptionId:
                          type: string
                          description: Subscription ID for error code `subscription-not-active`
              examples:
                subscription-not-active:
                  value:
                    status: 400
                    title: Bad Request
                    detail: Subscription is not active
                    errorCode: subscription-not-active
                    errorValues:
                      subscriptionId: urn:cintoo:subscription:12345678-1234-4678-9234-123456789abc
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\n\ncurl --request POST --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\n    \"name\": \"created with Wapi\",\n    \"subscriptionId\": \"urn:cintoo:subscription:12345678-1234-4678-9234-123456789abc\",\n    \"description\": \"Hello !\",\n    \"region\": \"default\",\n    \"location\": {\n      \"lat\": 43.6554,\n      \"lng\": 7.25\n    }\n  }'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nsubscriptionUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/projects\"\n    % (host, accountUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"name\": \"created with Wapi\",\n    \"subscriptionId\": \"urn:cintoo:subscription:%s\" % subscriptionUUID,\n    \"description\": \"Hello !\",\n    \"region\": \"default\",\n    \"location\": {\n      \"lat\": 43.6554,\n      \"lng\": 7.25\n    }\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst subscriptionUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\n        \"name\": \"created with Wapi\",\n        \"subscriptionId\": `urn:cintoo:subscription:${subscriptionUUID}`,\n        \"description\": \"Hello !\",\n        \"region\": \"default\",\n        \"location\": {\n          \"lat\": 43.6554,\n          \"lng\": 7.25\n        }\n      }\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}:
    get:
      summary: Get Project
      operationId: getProject
      description: 'BETAGet a project details.


        Requires the permission `project:project:read` on the project.

        In other words, the requester MUST already be a member of the project at some level:

        - account owner, administrator, project manager or project lister

        - project creator or owner

        - be a contributor of the project, or be a member of a contributing group'
      tags:
      - Project
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/countScans'
      - $ref: '#/components/parameters/countTags'
      - $ref: '#/components/parameters/countWorkzones'
      responses:
        '200':
          description: Content of the requested Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\n# Default: statsInfo includes all statistics\ncurl --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n\n# Disable scan statistics for faster response\ncurl --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID?countScans=false\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\n# Default: statsInfo includes all statistics\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/projects/%s\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nprint(response.json())\n\n# Disable all statistics for faster response\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/projects/%s\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token},\n  params = { \"countScans\": \"false\", \"countTags\": \"false\", \"countWorkzones\": \"false\" }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\n// Default: statsInfo includes all statistics\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}`;\nconst res = await fetch(url, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\nconsole.log(res.status);\nconst data1 = await res.json();\nconsole.log(data1);\n\n// Disable all statistics for faster response\nconst params = new URLSearchParams({\n  countScans: \"false\",\n  countTags: \"false\",\n  countWorkzones: \"false\",\n});\nconst urlFast = `${url}?${params}`;\nconst resFast = await fetch(urlFast, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\nconsole.log(res.status);\nconst data2 = await res.json();\nconsole.log(data2);\n"
    delete:
      summary: Delete Project
      operationId: deleteProject
      description: 'BETADelete a project.


        Requires the permission `project:project:delete` on the project.

        (Note that permission `account:projects:delete` on the account implies the permission

        `project:project:delete` on all projects of the account).'
      tags:
      - Project
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/permanentProjectDelete'
      responses:
        '204':
          description: The project was deleted successfully
        '400':
          description: The project is already deleted
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorBadRequest'
                - type: object
                  properties:
                    errorCode:
                      type: string
                      description: '* `project-deleted` if the project is already deleted. Add permanent flag to completely delete it.

                        * `project-not-deleted` if asking for a permanent delete on a not deleted project. Delete it first.

                        '
              examples:
                project-deleted:
                  value:
                    status: 400
                    title: Bad Request
                    detail: Project is deleted
                    errorCode: project-deleted
                    errorValues:
                      projectId: '1234'
                project-not-deleted:
                  value:
                    status: 400
                    title: Bad Request
                    detail: Project is not deleted yet
                    errorCode: project-not-deleted
                    errorValues:
                      projectId: '1234'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --request DELETE --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.delete(\n  \"https://%s/api/2/accounts/%s/projects/%s\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}`;\nconst res = await fetch(url, {\n  method: \"DELETE\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nif (res.status !== 204) {\n  const data = await res.json();\n  console.log(data);\n}\n"
    put:
      summary: Update Project
      operationId: updateProject
      description: 'BETAUpdate a Project.


        ⚠ Overwrites all fields. Missing fields will be considered as null and current values will be erased


        Permissions:

        - To update everything: be the account owner, administrator, or project owner

        - To update everything EXCEPT the subscription and the owner: have the "Update, delete or restore projects" permission on the project

        - When updating the owner of a project, the new owner MUST be a project manager'
      tags:
      - Project
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/countScans'
      - $ref: '#/components/parameters/countTags'
      - $ref: '#/components/parameters/countWorkzones'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - description
              - subscriptionId
              - ownerId
              - location
              - coverBlobName
              - spatialReference
              properties:
                name:
                  type: string
                  example: New name for my project
                  minLength: 1
                  maxLength: 255
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 1000
                  example: This is a really interesting project
                subscriptionId:
                  $ref: '#/components/schemas/SubscriptionRef'
                ownerId:
                  $ref: '#/components/schemas/UserRef'
                location:
                  type:
                  - object
                  - 'null'
                  allOf:
                  - $ref: '#/components/schemas/Location'
                coverBlobName:
                  type:
                  - string
                  - 'null'
                  allOf:
                  - $ref: '#/components/schemas/BlobName'
                spatialReference:
                  type:
                  - object
                  - 'null'
                  allOf:
                  - $ref: '#/components/schemas/SpatialReference'
                coordinatesTransformation:
                  type:
                  - object
                  - 'null'
                  allOf:
                  - $ref: '#/components/schemas/CoordinatesTransformationBody'
      responses:
        '200':
          description: The project was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Cannot update subscription because capacity is exceeded
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorBadRequest'
                - type: object
                  properties:
                    errorCode:
                      type: string
                      description: '* `capacity-exceeded-scan`, `capacity-exceeded-geoimage`, `capacity-exceeded-tag` if the target

                        subscription cannot accept the project due to a capacity exceeded, respectively of Scan,

                        GeoImage, or Tag

                        * `new-project-owner-not-manager` the new owner of a project needs to be a project manager

                        * `invalid-coordinates-transformation` if the selected transformation method does not have its corresponding parameters, or if a coordinates transformation is set without a spatial reference

                        '
                    errorValues:
                      type: object
                      properties:
                        subscriptionId:
                          type: string
                          description: target subscription ID for error codes `capacity-exceeded-xxx`
              examples:
                capacity-exceeded-scan:
                  value:
                    status: 400
                    title: Bad Request
                    detail: not enough Scan capacity to accept project on subscription 1234
                    errorCode: capacity-exceeded-scan
        '403':
          description: Update project ownership or subscription forbidden, or New owner must be a Project Manager
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorForbidden'
                - type: object
                  properties:
                    errorCode:
                      type: string
                      description: '* `update-project-ownership-or-subscription-forbidden`

                        * `new-project-owner-not-manager`

                        '
              examples:
                update-project-ownership-or-subscription-forbidden:
                  value:
                    status: 403
                    title: Forbidden
                    detail: You do not have the permission to update project ownership or subscription. It requires to be Project Owner, or Administrator
                    errorCode: update-project-ownership-or-subscription-forbidden
                new-project-owner-not-manager:
                  value:
                    status: 403
                    title: Forbidden
                    detail: New owner must be a Project Manager
                    errorCode: new-project-owner-not-manager
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --request PUT --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\n    \"name\": \"Better name\",\n    \"description\": \"I love this name more\"\n  }'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.put(\n  \"https://%s/api/2/accounts/%s/projects/%s\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"name\": \"Better name\",\n    \"description\": \"I love this name more\"\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}`;\nconst res = await fetch(url, {\n  method: \"PUT\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\n        \"name\": \"Better name\",\n        \"description\": \"I love this name more\"\n      }\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
    patch:
      summary: Patch Project
      operationId: patchProject
      description: 'BETAPatch a Project.


        ⓘ Unlike the PUT operation (Update a project), the patch updates only the provided fields.


        Permissions:

        - To update everything: be the account owner, administrator, or project owner

        - To update everything EXCEPT the subscription and the owner: have the "Update, delete or restore projects" permission on the project

        - When updating the owner of a project, the new owner MUST be a project manager'
      tags:
      - Project
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/countScans'
      - $ref: '#/components/parameters/countTags'
      - $ref: '#/components/parameters/countWorkzones'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: New name for my project
                  minLength: 1
                  maxLength: 255
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 1000
                  example: This is a really interesting project
                subscriptionId:
                  $ref: '#/components/schemas/SubscriptionRef'
                ownerId:
                  $ref: '#/components/schemas/UserRef'
                location:
                  type:
                  - object
                  - 'null'
                  allOf:
                  - $ref: '#/components/schemas/Location'
                coverBlobName:
                  type:
                  - string
                  - 'null'
                  allOf:
                  - $ref: '#/components/schemas/BlobName'
                spatialReference:
                  type:
                  - object
                  - 'null'
                  allOf:
                  - $ref: '#/components/schemas/SpatialReference'
                coordinatesTransformation:
                  type:
                  - object
                  - 'null'
                  allOf:
                  - $ref: '#/components/schemas/CoordinatesTransformationBody'
      responses:
        '200':
          description: The project was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --request PATCH --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\n    \"name\": \"Better name\",\n    \"description\": \"I love this name more\"\n  }'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.patch(\n  \"https://%s/api/2/accounts/%s/projects/%s\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"name\": \"Better name\",\n    \"description\": \"I love this name more\"\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}`;\nconst res = await fetch(url, {\n  method: \"PATCH\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\n        \"name\": \"Better name\",\n        \"description\": \"I love this name more\"\n      }\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/cover:
    post:
      summary: Get a signed URL for project cover file upload
      operationId: signProjectCoverURL
      description: 'BETAGet a signed URL for project cover file upload


        Requires the permission `projects:project:update-details`.


        After this call, use the `url`s from the response to upload the cover file.


        Required headers to push the files

        * `Content-MD5: xxx` with `xxx` being a base 64 encode of the md5sum in binary format.\

        Example: `MD5SUM="$(openssl md5 -binary < "$FILENAME" | base64)"`

        * `Cache-Control: max-age=2592000`

        * `x-ms-blob-type: BlockBlob` mandatory if the storage type is Azure. \

        Note: always adding the `x-ms-blob-type` could be a good idea as Aws ignores it anyway.'
      tags:
      - Project
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - extension
              - size
              - md5
              properties:
                name:
                  type: string
                extension:
                  type: string
                  enum:
                  - png
                  - jpg
                  - jpeg
                size:
                  type: integer
                  format: int64
                  description: Size of the file (bytes)
                  minimum: 1
                  maximum: 10485760
                md5:
                  type: string
                  description: The md5 sum-check of the file
      responses:
        '200':
          description: The signing process succeeded
          content:
            application/json:
              schema:
                type: object
                required:
                - provider
                - expiresIn
                - file
                properties:
                  provider:
                    type: string
                  expiresIn:
                    type: integer
                    description: After this amount of seconds, the upload link won't be available anymore
                  file:
                    type: object
                    required:
                    - name
                    - extension
                    - size
                    - md5
                    - url
                    properties:
                      name:
                        type: string
                      extension:
                        type: string
                      size:
                        type: integer
                        format: int64
                        description: Size of the file (bytes)
                      md5:
                        type: string
                        description: The md5 sum-check of the file
                      url:
                        type: string
                        description: the url to which upload the file
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTID=...\nexport PROJECTID=...\n\ncurl --request POST --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTID/projects/$PROJECTID/cover\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\n      \"name\":\"cover.gif\",\n      \"extension\":\"gif\",\n      \"size\":448459,\n      \"md5\":\"da04845eaedb7db7f5b6f32c4076821f\"\n    }'\n\n# -- UPLOAD OF THE FILE --\n\n# the url received in the body of the response\nexport URL=...\nexport FILENAME=...\n\nMD5SUM=\"$(openssl md5 -binary < \"$FILENAME\" | base64)\"\ncurl --request PUT --url \"$URL\" --header \"Content-Type: application/json\" -T \"$FILENAME\" -H \"Content-MD5: ${MD5SUM}\" -H \"Cache-Control: max-age=2592000\" -H \"x-ms-blob-type: BlockBlob\" -i\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountID = \"...\"\nprojectID = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/projects/%s/cover\"\n    % (host, accountID, projectID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n      \"name\":\"tumbleweed.gif\",\n      \"extension\":\"gif\",\n      \"size\":448459,\n      \"md5\":\"da04845eaedb7db7f5b6f32c4076821f\"\n    }\n)\nprint(response.status_code)\nprint(response.json())\n\nimport base64\nimport hashlib\n\n# the url received in the body of the response\nexport url=...\nexport filename=...\n\nhash_md5 = hashlib.md5()\nwith open(filename, \"rb\") as fin:\n    for chunk in iter(lambda: fin.read(4096), b\"\"):\n        hash_md5.update(chunk)\ndigest = hash_md5.digest()\nmd5 = base64.b64encode(digest).decode(\"utf-8\")\n\nheaders = {\n  \"Content-MD5\": md5,\n  \"Cache-Control\": \"max-age=2592000\",\n  \"x-ms-blob-type\": \"BlockBlob\", # mandatory if storage type is azure\n}\ndata = open(filename, \"rb\")\nr = requests.put(url, data=data, headers=headers)\nprint(r.status_code)\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountId = \"...\";\nconst projectId = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountId}/projects/${projectId}/cover`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\n          \"name\":\"cover.gif\",\n          \"extension\":\"gif\",\n          \"size\":448459,\n          \"md5\":\"da04845eaedb7db7f5b6f32c4076821f\",\n        }\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
    put:
      summary: Update cloud file as cover for project
      operationId: updateProjectCover
      description: 'BETAUpdate the cover for the project


        Requires the permission `projects:project:update-details`


        This actually adds an already uploaded file as cover for a project'
      tags:
      - Project
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - extension
              - size
              - md5
              properties:
                name:
                  type: string
                extension:
                  type: string
                  enum:
                  - png
                  - jpg
                  - jpeg
                size:
                  type: integer
                  format: int64
                  description: Size of the file (bytes)
                  minimum: 1
                  maximum: 10485760
                md5:
                  type: string
                  description: The md5 sum-check of the file
      responses:
        '200':
          description: the cover has been updated
          content:
            application/json:
              schema:
                type: object
                required:
                - name
                - extension
                - size
                - md5
                - id
                properties:
                  name:
                    type: string
                  extension:
                    type: string
                  size:
                    type: integer
                    format: int64
                    description: Size of the file (bytes)
                  md5:
                    type: string
                    description: The md5 sum-check of the file
                  id:
                    $ref: '#/components/schemas/FileUrn'
                    description: the unique id of the file in the Cintoo Platform
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTID=...\nexport PROJECTID=...\n\ncurl --request PUT --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTID/projects/$PROJECTID/cover\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\n      \"name\":\"tumbleweed.gif\",\n      \"extension\":\"gif\",\n      \"size\":448459,\n      \"md5\":\"da04845eaedb7db7f5b6f32c4076821f\"\n    }'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountID = \"...\"\nprojectID = \"...\"\ntoken = \"...\"\n\nresponse = requests.put(\n  \"https://%s/api/2/accounts/%s/projects/%s/cover\"\n    % (host, accountID, projectID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n      \"name\":\"tumbleweed.png\",\n      \"extension\":\"png\",\n      \"size\":448459,\n      \"md5\":\"da04845eaedb7db7f5b6f32c4076821f\"\n    }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "const host = \"aec.cintoo.com\";\nconst accountId = \"...\";\nconst projectId = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountId}/projects/${projectId}/cover`;\nconst res = await fetch(url, {\n  method: \"PUT\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\n          \"name\":\"tumbleweed.png\",\n          \"extension\":\"png\",\n          \"size\":448459,\n          \"md5\":\"da04845eaedb7db7f5b6f32c4076821f\"\n        }\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/restore:
    put:
      summary: Restore project
      operationId: restoreProject
      description: 'BETARestore a deleted project.


        Requires the permission `project:project:delete` on the project.

        (Note that permission `account:projects:delete` on the account implies the permission

        `project:project:delete` on all projects of the account).


        Error management:

        If the subscription used by this project does not have enough capacity to restore it,

        a 400 error is returned with a message,

        like "Target subscription does not have enough Scan capacity to accept project"'
      tags:
      - Project
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/countScans'
      - $ref: '#/components/parameters/countTags'
      - $ref: '#/components/parameters/countWorkzones'
      responses:
        '200':
          description: The project was restored successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: The project is not deleted, or the subscription is not active, or subscription capacity exceeded
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorBadRequest'
                - type: object
                  properties:
                    errorCode:
                      type: string
                      description: '* `project-active` if the project is not deleted

                        * `subscription-not-active` if the subscription is not active

                        * `capacity-exceeded-scan`, `capacity-exceeded-geoimage`, `capacity-exceeded-tag` if the target

                        subscription cannot accept the project due to a capacity exceeded, respectively of Scan,

                        GeoImage, or Tag

                        '
                    errorValues:
                      type: object
                      properties:
                        projectId:
                          type: string
                          description: Project ID for error code `project-active`
                        subscriptionId:
                          type: string
                          description: Subscription ID for error code `subscription-not-active` or `capacity-exceeded-xxx`
              examples:
                project-active:
                  value:
                    status: 400
                    title: Bad Request
                    detail: Project is active
                    errorCode: project-active
                    errorValues:
                      projectId: '1234'
                subscription-not-active:
                  value:
                    status: 400
                    title: Bad Request
                    detail: Subscription is not active
                    errorCode: subscription-not-active
                    errorValues:
                      subscriptionId: '1234'
                capacity-exceeded-scan:
                  value:
                    status: 400
                    title: Bad Request
                    detail: not enough Scan capacity to accept project on subscription 1234
                    errorCode: capacity-exceeded-scan
                    errorValues:
                      subscriptionId: '1234'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --request PUT --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/restore\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.put(\n  \"https://%s/api/2/accounts/%s/projects/%s/restore\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/restore`;\nconst res = await fetch(url, {\n  method: \"PUT\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/values/spatial-references:
    get:
      summary: List Spatial References
      operationId: listSpatialReferences
      description: BETAList official Spatial References from https://spatialreference.org/
      tags:
      - Project
      responses:
        '200':
          description: List of Spatial References
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpatialReferenceValue'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\n\ncurl --url \"https://aec.cintoo.com/api/2/values/spatial-references\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\ntoken = \"...\"\n\nresponse = requests.get(\n  \"https://%s/api/2/values/spatial-references\" % host,\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/values/spatial-references`;\nconst res = await fetch(url, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
components:
  schemas:
    SubscriptionRef:
      oneOf:
      - $ref: '#/components/schemas/SubscriptionUrn'
      - $ref: '#/components/schemas/SubscriptionId'
    WorkzoneUrn:
      type: string
      pattern: ^urn:cintoo:workzone:[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
      description: '"urn:cintoo:workzone:" followed by an UUIDv4

        '
    AccountUrn:
      type: string
      description: '"urn:cintoo:account:" followed by an UUIDv4

        '
    SimilarityTransformation:
      type: object
      required:
      - ordinate1
      - ordinate2
      - scaleFactor
      - rotationAngle
      properties:
        ordinate1:
          type: number
          format: double
          description: 'Translation in the first axis (unit: meter, precision: 3 decimal places)'
        ordinate2:
          type: number
          format: double
          description: 'Translation in the second axis (unit: meter, precision: 3 decimal places)'
        scaleFactor:
          type: number
          format: double
          description: 'Uniform scale factor on all axes (unit: coefficient, precision: 9 decimal places)'
        rotationAngle:
          type: number
          format: double
          description: 'Rotation angle around the up axis (unit: degree, precision: 9 decimal places)'
    CoordinatesTransformationBody:
      type: object
      required:
      - type
      properties:
        type:
          type:
          - string
          - 'null'
          enum:
          - affine
          - similarity
          description: 'The active transformation method. When null, no transformation is active.

            Both `affine` and `similarity` blocks may be present simultaneously (to preserve user input when switching methods),

            but only the one indicated by `type` is active.

            '
        affine:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/AffineTransformation'
        similarity:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/SimilarityTransformation'
    DateTime:
      type: string
      format: date-time
      description: 'The date-time notation as defined by RFC 3339, section 5.6 (ex: 2017-08-18T12:41:31Z)'
      example: '2017-08-18T12:41:31Z'
    FileUrn:
      type: string
      description: '"urn:cintoo:file:" followed by an UUIDv4

        '
    ProjectStatsInfo:
      type: object
      description: 'Statistics about the project. By default all fields are included.

        Use the query parameters `countScans`, `countTags`, and `countWorkzones` to control which fields are returned.

        When all query parameters are set to `false`, `statsInfo` is `null`.


        **Upcoming change:** In a future release, all `count*` query parameters will default to `false`,

        meaning `statsInfo` will be `null` by default. Clients that need statistics should start passing the

        desired `count*` parameters explicitly set to `true`.

        '
      properties:
        scanCount:
          type: integer
        scanSize:
          type: integer
        tagCount:
          type: integer
        workzoneCount:
          type: integer
          description: Number of workzones in a project (includes root workzone)
    SpatialReferenceProject:
      type: object
      required:
      - authName
      - code
      properties:
        authName:
          type: string
          description: The authority defining the used code (IGNF, NKG, OGC, IAU_2015, EPSG, ESRI)
        code:
          type: string
          description: The code of the geographic reference to be used for this project
    SubscriptionUrn:
      type: string
      description: '"urn:cintoo:subscription:" followed by an UUIDv4

        '
    CoordinatesTransformation:
      type: object
      required:
      - type
      properties:
        type:
          type:
          - string
          - 'null'
          enum:
          - affine
          - similarity
          description: 'The active transformation method. When null, no transformation is active.

            Both `affine` and `similarity` blocks may be present simultaneously (to preserve user input when switching methods),

            but only the one indicated by `type` is active.

            '
        affine:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/AffineTransformation'
        similarity:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/SimilarityTransformation'
    SpatialReferenceValue:
      type: object
      required:
      - authName
      - code
      - deprecated
      - name
      - type
      properties:
        authName:
          type: string
          description: The authority defining the used code (IGNF, NKG, OGC, IAU_2015, EPSG, ESRI)
        code:
          type: string
          description: The code of the geographic reference to be used for this project
        deprecated:
          type: boolean
          description: If true, the spatialReference cannot be used to define any project anymore (only available for already settled projects)
        name:
          type: string
          description: Description about the location of the SpatialReference
        type:
          type: string
          description: The kind of Coordinate Reference System.
    UserId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    ProjectUrn:
      type: string
      description: '"urn:cintoo:project:" followed by an UUIDv4

        '
    UserUrn:
      type: string
      description: '"urn:cintoo:user:" followed by an UUIDv4

        '
    AccountId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    Project:
      type: object
      required:
      - id
      - type
      - api1Id
      - accountId
      - subscriptionId
      - isdemo
      - region
      - name
      - description
      - ownerId
      - location
      - modificationInfo
      - rootWorkzoneId
      - permissions
      - bimOnRootWz
      x-tags:
      - Project
      properties:
        id:
          readOnly: true
          $ref: '#/components/schemas/ProjectUrn'
        type:
          type: string
          enum:
          - project
        accountId:
          $ref: '#/components/schemas/AccountUrn'
        subscriptionId:
          $ref: '#/components/schemas/SubscriptionUrn'
        isdemo:
          type: boolean
        region:
          type: string
          description: Region.Id (can be found in accounts.regions.id) hosting the project data
          example: default
        name:
          type: string
          description: Named displayed for the project
          example: New Project
        description:
          type: string
        ownerId:
          $ref: '#/components/schemas/UserUrn'
        location:
          $ref: '#/components/schemas/Location'
        modificationInfo:
          $ref: '#/components/schemas/ModificationInfo'
        statsInfo:
          type: object
          allOf:
          - $ref: '#/components/schemas/ProjectStatsInfo'
        coverBlobName:
          type: string
          allOf:
          - $ref: '#/components/schemas/BlobName'
        coverUrl:
          type: string
          allOf:
          - $ref: '#/components/schemas/Url'
        rootWorkzoneId:
          $ref: '#/components/schemas/WorkzoneUrn'
        spatialReference:
          type: object
          allOf:
          - $ref: '#/components/schemas/SpatialReferenceProject'
        coordinatesTransformation:
          type: object
          allOf:
          - $ref: '#/components/schemas/CoordinatesTransformation'
        permissions:
          type: array
          items:
            description: list of permissions at project level, for the user doing the request.
            type: string
        bimOnRootWz:
          type: boolean
          description: 'Indicates whether the requesting user has the BIM role on the root workzone of this project.

            - `true`: the user has the BIM role on the root workzone

            - `false`: the user does not have the BIM role on the root workzone (also when the user lacks permission to compute it)

            '
    BlobName:
      type: string
      description: "A `BlobName`: the actual filename of the file in the blob storage.\n\nTo retrieve a blob, two methods are available:\n- using the unitary endpoint [Download a blob](#tag/Project/operation/getBlob), which will automatically forward\n  to the final URL, which is a pre-signed URL, expiring after 3 hours by default.\n- using the bulk endpoint [Get pre-signed urls for multiple blobs](#tag/Project/operation/getBlobs), which will\n  return the list of pre-signed URLs.\n\nWhile the first option is the easiest, as it forwards automatically to the final URL transparently,\nthe second option should be preferred as much as possible to improve performances.\n"
    ErrorForbidden:
      type: object
      required:
      - status
      - title
      properties:
        status:
          type: integer
          format: int32
          enum:
          - 403
        title:
          type: string
          enum:
          - Forbidden
        detail:
          type: string
          description: human readable description of the error in english
    ModificationInfo:
      type: object
      required:
      - createdBy
      - isDeleted
      properties:
        createdAt:
          type: string
          allOf:
          - $ref: '#/components/schemas/DateTime'
        createdBy:
          $ref: '#/components/schemas/UserUrn'
        updatedAt:
          type: string
          allOf:
          - $ref: '#/components/schemas/DateTime'
        updatedBy:
          type: string
          allOf:
          - $ref: '#/components/schemas/UserUrn'
        deletedAt:
          type: string
          allOf:
          - $ref: '#/components/schemas/DateTime'
        deletedBy:
          type: string
          allOf:
          - $ref: '#/components/schemas/UserUrn'
        isDeleted:
          type: boolean
    SpatialReference:
      type: object
      required:
      - authName
      - code
      properties:
        authName:
          type: string
          minLength: 1
          maxLength: 128
          description: The authority defining the used code (IGNF, NKG, OGC, IAU_2015, EPSG, ESRI)
        code:
          type: string
          minLength: 1
          maxLength: 128
          description: The code of the geographic reference to be used for this project
    UserRef:
      oneOf:
      - $ref: '#/components/schemas/UserUrn'
      - $ref: '#/components/schemas/UserId'
    AffineTransformation:
      type: object
      required:
      - a0
      - a1
      - a2
      - b0
      - b1
      - b2
      properties:
        a0:
          type: number
          format: double
          description: 'Translation for the first output ordinate (unit: meter, precision: 3 decimal places)'
        a1:
          type: number
          format: double
          description: 'First output ordinate coefficient for the first input ordinate (unit: coefficient, precision: 9 decimal places)'
        a2:
          type: number
          format: double
          description: 'First output ordinate coefficient for the second input ordinate (unit: coefficient, precision: 9 decimal places)'
        b0:
          type: number
          format: double
          description: 'Translation for the second output ordinate (unit: meter, precision: 3 decimal places)'
        b1:
          type: number
          format: double
          description: 'Second output ordinate coefficient for the first input ordinate (unit: coefficient, precision: 9 decimal places)'
        b2:
          type: number
          format: double
          description: 'Second output ordinate coefficient for the second input ordinate (unit: coefficient, precision: 9 decimal places)'
    Location:
      type: object
      required:
      - lat
      - lng
      properties:
        lat:
          type: number
          format: double
          minimum: -90
          maximum: 90
        lng:
          type: number
          format: double
          minimum: -180
          maximum: 180
    SubscriptionId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    Url:
      type: string
      format: uri
      description: Link that will redirect to 302 signed link to download the corresponding file.
    Error:
      type: object
      required:
      - status
      - title
      properties:
        status:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
          description: human readable description of the error in english
        errorCode:
          type: string
          description: detailed code describing error, can be used to map to a localized message
        errorValues:
          type: object
          description: values implied in the error, typically an input parameter, can be used to include in a localized message
    Uuid:
      type: string
      description: UUIDv4
      format: uuid
      example: 156fff1a-0ef7-4335-891a-627928a19e29
    ProjectId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    ErrorBadRequest:
      type: object
      required:
      - status
      - title
      properties:
        status:
          type: integer
          format: int32
          enum:
          - 400
        title:
          type: string
          enum:
          - Bad Request
        detail:
          type: string
          description: human readable description of the error in english
  parameters:
    countTags:
      name: countTags
      in: query
      required: false
      description: 'If true, includes `tagCount` in the `statsInfo` field of the response.

        If false, this field will not be included in `statsInfo`.


        **Upcoming change:** The default value will change from `true` to `false` in a future release.

        Clients that rely on `tagCount` should start passing `countTags=true` explicitly.

        '
      schema:
        type: boolean
        default: true
    countWorkzones:
      name: countWorkzones
      in: query
      required: false
      description: 'If true, includes `workzoneCount` in the `statsInfo` field of the response.

        If false, this field will not be included in `statsInfo`.


        **Upcoming change:** The default value will change from `true` to `false` in a future release.

        Clients that rely on `workzoneCount` should start passing `countWorkzones=true` explicitly.

        '
      schema:
        type: boolean
        default: true
    accountRef:
      name: accountRef
      in: path
      required: true
      description: The Id or Urn of the account
      schema:
        oneOf:
        - $ref: '#/components/schemas/AccountUrn'
        - $ref: '#/components/schemas/AccountId'
    permanentProjectDelete:
      name: permanent
      in: query
      required: false
      description: Delete Permanently a project
      schema:
        type: boolean
    projectRef:
      name: projectRef
      in: path
      required: true
      description: The Id or Urn of the project
      schema:
        oneOf:
        - $ref: '#/components/schemas/ProjectUrn'
        - $ref: '#/components/schemas/ProjectId'
    countScans:
      name: countScans
      in: query
      required: false
      description: 'If true, includes `scanCount` and `scanSize` in the `statsInfo` field of the response.

        If false, these fields will not be included in `statsInfo`.


        **Upcoming change:** The default value will change from `true` to `false` in a future release.

        Clients that rely on `scanCount` or `scanSize` should start passing `countScans=true` explicitly.

        '
      schema:
        type: boolean
        default: true
  responses:
    UnexpectedError:
      description: unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            '400':
              value:
                status: 400
                title: Bad Request
            '401':
              value:
                status: 401
                title: Unauthorized
            '403':
              value:
                status: 403
                title: Forbidden
            '404':
              value:
                status: 404
                title: Not Found
            '405':
              value:
                status: 405
                title: Method Not Allowed
            '406':
              value:
                status: 406
                title: Not Acceptable
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://aec.cintoo.com/oauth/authorize
          tokenUrl: https://aec.cintoo.com/oauth/token
          scopes: {}
          refreshUrl: https://aec.cintoo.com/oauth/token
x-tagGroups:
- name: General
  tags:
  - errors_list
  - internal_information
  - token_management
  - Permissions
  - Authentication
- name: Resources
  tags:
  - Resources
- name: Tenant
  tags:
  - Tenant
- name: Account
  tags:
  - Account
  - Subscription
  - Role
  - User
  - Group
  - Trusted Device
- name: Subscription
  tags:
  - Usage Report
- name: Project
  tags:
  - Project
  - Members
  - Workzone
- name: Project Data
  tags:
  - File
  - Annotation
  - Saved View
  - Share Link
  - Crop
  - Measurement
  - Tag List
  - Tag
- name: Jobs
  tags:
  - Progress Monitoring
  - Import Model
  - Export Scene
  - Segmentation
  - Video360
  - Import IDD
- name: Integrations
  tags:
  - Integrations
  - Konekt
  - Autodesk
  - Procore
- name: Tutorials
  tags:
  - tuto_upload_file
  - understand_tag_data
