openapi: 3.2.0
info:
  version: 2.0.0
  title: Cintoo Open Subscription API
  description: 'Cintoo Open API 1.x documentation: https://aec.cintoo.com/api


    BETA: API v2 endpoints tagged "BETA" are available in beta-version, meaning that changes may be done later on.'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: API Support
    email: support@cintoo.com
  x-logo:
    url: ./assets/logo_api.svg
    altText: Cintoo API
servers:
- url: https://aec.cintoo.com
security:
- oauth2: []
tags:
- name: Subscription
paths:
  /api/2/accounts/{accountRef}/subscriptions:
    get:
      summary: List subscriptions
      operationId: getSubscriptions
      description: 'BETAList available subscriptions into this account.


        Requires the permission `account:subscriptions:read` on the account.


        The `inviteAccountOwnerInNewProjects` property is only included when the caller is the account owner.


        The `end` property is only included when the caller has the `account:subscriptions:read-sensitive-infos` permission (account owner or administrator).'
      tags:
      - Subscription
      parameters:
      - name: accountId
        required: true
        $ref: '#/components/parameters/accountRef'
      responses:
        '200':
          description: List and content of the Subscriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscription'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\n\ncurl --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/subscriptions\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/subscriptions\"\n    % (host, accountUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/subscriptions`;\nconst res = await fetch(url, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/subscriptions/{subscriptionRef}:
    get:
      summary: Get subscription
      operationId: getSubscription
      description: 'BETAGet a subscription details.


        Requires the permission `account:subscriptions:read` on the account.


        The `inviteAccountOwnerInNewProjects` property is only included when the caller is the account owner.


        The `end` property is only included when the caller has the `account:subscriptions:read-sensitive-infos` permission (account owner or administrator).'
      tags:
      - Subscription
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/subscriptionRef'
      responses:
        '200':
          description: Content of the requested Subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport SUBSCRIPTIONID=...\n\ncurl --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/subscriptions/$SUBSCRIPTIONID\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nsubscriptionId = \"...\"\ntoken = \"...\"\n\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/subscriptions/%s\"\n    % (host, accountUUID, subscriptionId),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst subscriptionId = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/subscriptions/${subscriptionId}`;\nconst res = await fetch(url, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
components:
  parameters:
    accountRef:
      name: accountRef
      in: path
      required: true
      description: The Id or Urn of the account
      schema:
        oneOf:
        - $ref: '#/components/schemas/AccountUrn'
        - $ref: '#/components/schemas/AccountId'
    subscriptionRef:
      name: subscriptionRef
      in: path
      required: true
      description: The Id or Urn of the subscription
      schema:
        oneOf:
        - $ref: '#/components/schemas/SubscriptionUrn'
        - $ref: '#/components/schemas/SubscriptionId'
  schemas:
    SubscriptionId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    SubscriptionUrn:
      type: string
      description: '"urn:cintoo:subscription:" followed by an UUIDv4

        '
    Error:
      type: object
      required:
      - status
      - title
      properties:
        status:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
          description: human readable description of the error in english
        errorCode:
          type: string
          description: detailed code describing error, can be used to map to a localized message
        errorValues:
          type: object
          description: values implied in the error, typically an input parameter, can be used to include in a localized message
    AccountUrn:
      type: string
      description: '"urn:cintoo:account:" followed by an UUIDv4

        '
    AccountId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    Uuid:
      type: string
      description: UUIDv4
      format: uuid
      example: 156fff1a-0ef7-4335-891a-627928a19e29
    Subscription:
      type: object
      required:
      - id
      - type
      - api1Id
      - accountId
      - isVa
      - isActive
      - isTrial
      - geoImageCapacity
      - tagCapacity
      - scanCapacity
      x-tags:
      - Subscription
      properties:
        id:
          readOnly: true
          $ref: '#/components/schemas/SubscriptionUrn'
        type:
          type: string
          enum:
          - subscription
        accountId:
          $ref: '#/components/schemas/AccountUrn'
        isVa:
          type: boolean
        isActive:
          type: boolean
        isTrial:
          type: boolean
          description: 'Indicates whether this subscription is a trial (Free Plan).

            '
        name:
          type: string
          example: My Subscription
        start:
          $ref: '#/components/schemas/DateTime'
        end:
          $ref: '#/components/schemas/DateTime'
          description: 'Subscription end date. This property is only included when the requester has the `account:subscriptions:read-sensitive-infos` permission (account owner or administrator).

            '
        tagCapacity:
          type: integer
          example: 50
        geoImageCapacity:
          type: integer
          example: 50
        scanCapacity:
          type: integer
          example: 500
        createdAt:
          $ref: '#/components/schemas/DateTime'
        updatedAt:
          $ref: '#/components/schemas/DateTime'
        inviteAccountOwnerInNewProjects:
          type: boolean
          description: 'When true, the account owner is automatically invited to every new project in the subscription. This property is only included in responses when the requester is the account owner.

            '
    DateTime:
      type: string
      format: date-time
      description: 'The date-time notation as defined by RFC 3339, section 5.6 (ex: 2017-08-18T12:41:31Z)'
      example: '2017-08-18T12:41:31Z'
  responses:
    UnexpectedError:
      description: unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            '400':
              value:
                status: 400
                title: Bad Request
            '401':
              value:
                status: 401
                title: Unauthorized
            '403':
              value:
                status: 403
                title: Forbidden
            '404':
              value:
                status: 404
                title: Not Found
            '405':
              value:
                status: 405
                title: Method Not Allowed
            '406':
              value:
                status: 406
                title: Not Acceptable
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://aec.cintoo.com/oauth/authorize
          tokenUrl: https://aec.cintoo.com/oauth/token
          scopes: {}
          refreshUrl: https://aec.cintoo.com/oauth/token
x-tagGroups:
- name: General
  tags:
  - errors_list
  - internal_information
  - token_management
  - Permissions
  - Authentication
- name: Resources
  tags:
  - Resources
- name: Tenant
  tags:
  - Tenant
- name: Account
  tags:
  - Account
  - Subscription
  - Role
  - User
  - Group
  - Trusted Device
- name: Subscription
  tags:
  - Usage Report
- name: Project
  tags:
  - Project
  - Members
  - Workzone
- name: Project Data
  tags:
  - File
  - Annotation
  - Saved View
  - Share Link
  - Crop
  - Measurement
  - Tag List
  - Tag
- name: Jobs
  tags:
  - Progress Monitoring
  - Import Model
  - Export Scene
  - Segmentation
  - Video360
  - Import IDD
- name: Integrations
  tags:
  - Integrations
  - Konekt
  - Autodesk
  - Procore
- name: Tutorials
  tags:
  - tuto_upload_file
  - understand_tag_data
