openapi: 3.2.0
info:
  version: 2.0.0
  title: Cintoo Open Share Link API
  description: 'Cintoo Open API 1.x documentation: https://aec.cintoo.com/api


    BETA: API v2 endpoints tagged "BETA" are available in beta-version, meaning that changes may be done later on.'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: API Support
    email: support@cintoo.com
  x-logo:
    url: ./assets/logo_api.svg
    altText: Cintoo API
servers:
- url: https://aec.cintoo.com
security:
- oauth2: []
tags:
- name: Share Link
paths:
  /api/2/accounts/{accountRef}/projects/{projectRef}/share-links:
    get:
      summary: List share links
      operationId: getShareLinks
      description: 'BETAList share links.


        Permissions:

        A link will only be listed if the user needs has either:

        - the `workzone:share-links:read` permission

        - the `workzone:own-share-links:read` permission if he is the creator of the link


        Project owner automatically gets the `workzone:share-links:read` permission on all the project''s work zones.

        Roles with the "Share" permission grants the `workzone:own-share-links:read` permission.'
      tags:
      - Share Link
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      responses:
        '200':
          description: List of the project's share links
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShareLink'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/share-links\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/projects/%s/share-links\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/share-links`;\nconst res = await fetch(url, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
    post:
      summary: Create a share link
      operationId: createShareLink
      description: 'BETACreate a share link.


        ⚠ A share link with no password will be freely usable by anyone with its id


        Permissions:

        - the user need to have the `workzone:share-links:write` or `workzone:own-share-links:write` permission


        Project owner automatically gets the `workzone:share-links:write` permission on all the project''s work zones.

        Roles with the "Share" permission grants the `workzone:own-share-links:write` permission.'
      tags:
      - Share Link
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shareLinkCreate'
      responses:
        '201':
          description: The share link was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareLink'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\n\ncurl --request POST --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/share-links\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\n    \"name\": \"my new link\",\n    \"workzoneId\": \"urn:cintoo:workzone:...\",\n    \"membershipRequired\": false,\n    \"password\": \"this is my very long passphrase\",\n    \"expiresAt\": \"2027-02-24T12:24:42Z\",\n    \"shareOptions\": {\n      \"workzones\": true,\n      \"notes\": true,\n      \"issues\": true,\n      \"measurements\": true,\n      \"crops\": false,\n      \"tags\": false\n    },\n    \"logoBlob\": \"dXJuOmNpbnRvbzpmaWxlOjg3NmE3MGJhLTNjNjItNGRkMS05YjUyLTc5YzdmOTJlMDVmYw\\/967dfd9cba4f5b8d9d029e6dc2243a9e.png\",\n    \"savedView\": {}\n  }'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\nworkzoneUUID = \"...\"\ntoken = \"...\"\n\nresponse = requests.post(\n  \"https://%s/api/2/accounts/%s/projects/%s/share-links\"\n    % (host, accountUUID, projectUUID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"name\": \"my new link\",\n    \"workzoneId\": workzoneUUID,\n    \"membershipRequired\": false,\n    \"password\": \"this is my very long passphrase\",\n    \"expiresAt\": \"2027-02-24T12:24:42Z\",\n    \"shareOptions\": {\n      \"workzones\": true,\n      \"notes\": true,\n      \"issues\": true,\n      \"measurements\": true,\n      \"crops\": false,\n      \"tags\": false\n    },\n    \"logoBlob\": \"dXJuOmNpbnRvbzpmaWxlOjg3NmE3MGJhLTNjNjItNGRkMS05YjUyLTc5YzdmOTJlMDVmYw\\/967dfd9cba4f5b8d9d029e6dc2243a9e.png\",\n    \"savedView\": {}\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/share-links`;\nconst res = await fetch(url, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\n        \"name\": \"my new link\",\n        \"workzoneId\": \"urn:cintoo:workzone:...\",\n        \"membershipRequired\": false,\n        \"password\": \"this is my very long passphrase\",\n        \"expiresAt\": \"2027-02-24T12:24:42Z\",\n        \"shareOptions\": {\n          \"workzones\": true,\n          \"notes\": true,\n          \"issues\": true,\n          \"measurements\": true,\n          \"crops\": false,\n          \"tags\": false\n        },\n        \"logoBlob\": \"dXJuOmNpbnRvbzpmaWxlOjg3NmE3MGJhLTNjNjItNGRkMS05YjUyLTc5YzdmOTJlMDVmYw\\/967dfd9cba4f5b8d9d029e6dc2243a9e.png\",\n        \"savedView\": {}\n      }\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
  /api/2/accounts/{accountRef}/projects/{projectRef}/share-links/{shareLinkRef}:
    get:
      summary: Get a share link
      operationId: getShareLink
      description: 'BETAGet details on a share link.


        Permissions:

        The user need to either:

        - have the `workzone:share-links:read` permission

        - have the `workzone:own-share-links:read` permission and be the creator of the link


        Project owner automatically gets the `workzone:share-links:read` permission on all the project''s work zones.

        Roles with the "Share" permission grants the `workzone:own-share-links:read` permission.'
      tags:
      - Share Link
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/shareLinkRef'
      responses:
        '200':
          description: Get a share link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareLink'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\nexport SHARELINKID=...\n\ncurl --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/share-links/$SHARELINKID\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\nshareLinkID= \"...\"\ntoken = \"...\"\n\nresponse = requests.get(\n  \"https://%s/api/2/accounts/%s/projects/%s/share-links/%s\"\n    % (host, accountUUID, projectUUID, shareLinkID),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst shareLinkId = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/share-links/${shareLinkId}`;\nconst res = await fetch(url, {\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nif (res.status !== 204) {\n  const data = await res.json();\n  console.log(data);\n}\n"
    delete:
      summary: Delete a share link
      operationId: deleteShareLink
      description: 'BETADelete a share link.


        Permissions:

        The user need to either:

        - have the `workzone:share-links:write` permission

        - have the `workzone:own-share-links:write` permission and be the creator of the link


        Project owner automatically gets the `workzone:share-links:write` permission on all the project''s work zones.

        Roles with the "Share" permission grants the `workzone:own-share-links:write` permission.'
      tags:
      - Share Link
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/shareLinkRef'
      responses:
        '204':
          description: The share link was deleted successfully
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\nexport SHARELINKID=...\n\ncurl --request DELETE --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/share-links/$SHARELINKID\" \\\n  --header \"Authorization: Bearer $TOKEN\"\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\nshareLinkID= \"...\"\ntoken = \"...\"\n\nresponse = requests.delete(\n  \"https://%s/api/2/accounts/%s/projects/%s/share-links/%s\"\n    % (host, accountUUID, projectUUID, shareLinkID),\n  headers = { \"Authorization\": \"Bearer %s\" % token}\n)\nprint(response.status_code)\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst shareLinkId = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/share-links/${shareLinkId}`;\nconst res = await fetch(url, {\n  method: \"DELETE\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n  },\n});\n\nconsole.log(res.status);\nif (res.status !== 204) {\n  const data = await res.json();\n  console.log(data);\n}\n"
    put:
      summary: Update a share link
      operationId: updateShareLink
      description: 'BETAUpdate a share link.


        ⚠ Overwrites all fields. Missing fields will be considered as null and current values will be erased


        Note: the `password` field has a special semantic here, to allow updating a share link without supplying the password every time.

        It can be either:

        - null or absent field: the password will remain the same.

        - "" (an empty string): the password will be removed.

        - "..." (a non-empty string): the password will be replaced.


        ⚠ A share link with no password will be freely usable by anyone with its id


        Permissions:


        The user need to either:

        - have the `workzone:share-links:write` permission

        - have the `workzone:own-share-links:write` permission and be the creator of the link


        Project owner automatically gets the `workzone:share-links:write` permission on all the project''s workzones.

        Roles with the "Share" permission grants the `workzone:own-share-links:write` permission.'
      tags:
      - Share Link
      parameters:
      - $ref: '#/components/parameters/accountRef'
      - $ref: '#/components/parameters/projectRef'
      - $ref: '#/components/parameters/shareLinkRef'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shareLinkUpdate'
      responses:
        '200':
          description: The share link was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareLink'
        4XX:
          $ref: '#/components/responses/UnexpectedError'
      x-codeSamples:
      - lang: cURL
        source: "export TOKEN=...\nexport ACCOUNTUUID=...\nexport PROJECTUUID=...\nexport SHARELINKID=...\n\ncurl --request PUT --url \"https://aec.cintoo.com/api/2/accounts/$ACCOUNTUUID/projects/$PROJECTUUID/share-links/$SHARELINKID\" \\\n  --header \"Authorization: Bearer $TOKEN\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\n    \"name\": \"my new link\",\n    \"membershipRequired\": false,\n    \"password\": \"this is my new very long passphrase\",\n    \"expiresAt\": \"2027-02-24T12:24:42Z\",\n    \"shareOptions\": {\n      \"workzones\": true,\n      \"notes\": true,\n      \"issues\": true,\n      \"measurements\": true,\n      \"crops\": false,\n      \"tags\": false\n    },\n    \"logoBlob\": \"dXJuOmNpbnRvbzpmaWxlOjg3NmE3MGJhLTNjNjItNGRkMS05YjUyLTc5YzdmOTJlMDVmYw\\/967dfd9cba4f5b8d9d029e6dc2243a9e.png\",\n    \"savedView\": {}\n  }'\n"
      - lang: Python
        source: "import requests\n\nhost = \"aec.cintoo.com\"\naccountUUID = \"...\"\nprojectUUID = \"...\"\nworkzoneUUID = \"...\"\nshareLinkID= \"...\"\ntoken = \"...\"\n\nresponse = requests.put(\n  \"https://%s/api/2/accounts/%s/projects/%s/share-links/%s\"\n    % (host, accountUUID, projectUUID, shareLinkID),\n  headers = { \"Authorization\": \"Bearer %s\" % token },\n  json = {\n    \"name\": \"my new link\",\n    \"membershipRequired\": false,\n    \"password\": \"this is my new very long passphrase\",\n    \"expiresAt\": \"2027-02-24T12:24:42Z\",\n    \"shareOptions\": {\n      \"workzones\": true,\n      \"notes\": true,\n      \"issues\": true,\n      \"measurements\": true,\n      \"crops\": false,\n      \"tags\": false\n    },\n    \"logoBlob\": \"dXJuOmNpbnRvbzpmaWxlOjg3NmE3MGJhLTNjNjItNGRkMS05YjUyLTc5YzdmOTJlMDVmYw\\/967dfd9cba4f5b8d9d029e6dc2243a9e.png\",\n    \"savedView\": {}\n  }\n)\nprint(response.status_code)\nprint(response.json())\n"
      - lang: TypeScript
        source: "\nconst host = \"aec.cintoo.com\";\nconst accountUUID = \"...\";\nconst projectUUID = \"...\";\nconst shareLinkId = \"...\";\nconst token = \"...\";\n\nconst url = `https://${host}/api/2/accounts/${accountUUID}/projects/${projectUUID}/share-links/${shareLinkId}`;\nconst res = await fetch(url, {\n  method: \"PUT\",\n  headers: {\n    \"Authorization\": `Bearer ${token}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(\n    {\n        \"name\": \"my new link\",\n        \"membershipRequired\": false,\n        \"password\": \"this is my new very long passphrase\",\n        \"expiresAt\": \"2027-02-24T12:24:42Z\",\n        \"shareOptions\": {\n          \"workzones\": true,\n          \"notes\": true,\n          \"issues\": true,\n          \"measurements\": true,\n          \"crops\": false,\n          \"tags\": false\n        },\n        \"logoBlob\": \"dXJuOmNpbnRvbzpmaWxlOjg3NmE3MGJhLTNjNjItNGRkMS05YjUyLTc5YzdmOTJlMDVmYw\\/967dfd9cba4f5b8d9d029e6dc2243a9e.png\",\n        \"savedView\": {}\n      }\n  ),\n});\n\nconsole.log(res.status);\nconst data = await res.json();\nconsole.log(data);\n"
components:
  schemas:
    WorkzoneUrn:
      type: string
      pattern: ^urn:cintoo:workzone:[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
      description: '"urn:cintoo:workzone:" followed by an UUIDv4

        '
    AccountUrn:
      type: string
      description: '"urn:cintoo:account:" followed by an UUIDv4

        '
    ShareLinkOptions:
      type: object
      required:
      - workzones
      - notes
      - issues
      - measurements
      - crops
      - tags
      x-tags:
      - Share Link
      properties:
        workzones:
          type: boolean
          description: when enabled, multiple work zones are shared if specified in `sharedWorkzonesIds`
        notes:
          type: boolean
          description: when enabled, annotations of type NOTE are visible using the share link
        issues:
          type: boolean
          description: when enabled, annotations of type ISSUE or RESOLVED are visible using the share link
        measurements:
          type: boolean
          description: when enabled, measurements are visible using the share link
        crops:
          type: boolean
          description: when enabled, crops are visible using the share link
        tags:
          type: boolean
          description: when enabled, tags are visible using the share link
    DateTime:
      type: string
      format: date-time
      description: 'The date-time notation as defined by RFC 3339, section 5.6 (ex: 2017-08-18T12:41:31Z)'
      example: '2017-08-18T12:41:31Z'
    shareLinkUpdate:
      type: object
      required:
      - name
      - sharedWorkzonesIds
      - password
      - expiresAt
      - logoBlob
      - membershipRequired
      - shareOptions
      - savedView
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        sharedWorkzonesIds:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WorkzoneUrn'
          description: 'Additional work zones to share.

            This is taken into account only if `workzones` is enabled in `shareOptions`.

            '
        password:
          allOf:
          - $ref: '#/components/schemas/ShareLinkPassword'
          type:
          - string
          - 'null'
        expiresAt:
          allOf:
          - $ref: '#/components/schemas/DateTime'
          type:
          - string
          - 'null'
        logoBlob:
          type:
          - string
          - 'null'
        membershipRequired:
          type: boolean
          description: Indicates if the user must be already logged in to use the share link
        shareOptions:
          $ref: '#/components/schemas/ShareLinkOptions'
        savedView:
          allOf:
          - $ref: '#/components/schemas/SavedViewData'
          type:
          - object
          - 'null'
    ProjectUrn:
      type: string
      description: '"urn:cintoo:project:" followed by an UUIDv4

        '
    UserUrn:
      type: string
      description: '"urn:cintoo:user:" followed by an UUIDv4

        '
    AccountId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
    SavedViewData:
      oneOf:
      - type: object
        title: legacy
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - legacy
            description: internal legacy representation, do not use (subject to changes and deprecation)
      - type: object
        title: others
        required:
        - type
        properties:
          type:
            type: string
            description: structure will be defined in the future
        additionalProperties: true
    ShareLinkPassword:
      type: string
      description: 'Password must be at least 12 characters long and contain at least 3 of the following:

        uppercase, lowercase, digit, special characters, or be at least 24 characters long with no

        character set constraints

        '
    ShareLinkUrn:
      type: string
      description: '"urn:cintoo:sharelink:" followed by a string

        '
    ShareLink:
      type: object
      required:
      - id
      - type
      - name
      - link
      - workzoneId
      - sharedWorkzonesIds
      - createdBy
      - createdAt
      - expiresAt
      - passwordProtected
      - membershipRequired
      - shareOptions
      - logoBlob
      - savedView
      x-tags:
      - Share Link
      properties:
        id:
          readOnly: true
          $ref: '#/components/schemas/ShareLinkUrn'
        type:
          type: string
          enum:
          - sharelink
        name:
          type:
          - string
          - 'null'
        link:
          type: string
        workzoneId:
          $ref: '#/components/schemas/WorkzoneUrn'
        sharedWorkzonesIds:
          type: array
          items:
            $ref: '#/components/schemas/WorkzoneUrn'
          description: list of additional shared work zones (only if `workzones` is enabled in the `shareOptions`)
        createdBy:
          $ref: '#/components/schemas/UserUrn'
        createdAt:
          $ref: '#/components/schemas/DateTime'
        expiresAt:
          allOf:
          - $ref: '#/components/schemas/DateTime'
          type:
          - string
          - 'null'
        passwordProtected:
          type: boolean
          description: Indicates if the share link will require a password to be supplied
        membershipRequired:
          type: boolean
          description: Indicates if the user must be already logged in to use the share link
        shareOptions:
          $ref: '#/components/schemas/ShareLinkOptions'
        logoBlob:
          type:
          - string
          - 'null'
        savedView:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/SavedViewData'
    shareLinkCreate:
      type: object
      required:
      - name
      - workzoneId
      - membershipRequired
      - shareOptions
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        workzoneId:
          $ref: '#/components/schemas/WorkzoneUrn'
        sharedWorkzonesIds:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WorkzoneUrn'
          description: 'Additional work zones to share.

            This is taken into account only if `workzones` is enabled in `shareOptions`.

            '
        password:
          allOf:
          - $ref: '#/components/schemas/ShareLinkPassword'
          type:
          - string
          - 'null'
        expiresAt:
          allOf:
          - $ref: '#/components/schemas/DateTime'
          type:
          - string
          - 'null'
        logoBlob:
          type:
          - string
          - 'null'
        membershipRequired:
          type: boolean
          description: Indicates if the user must be already logged in to use the share link
        shareOptions:
          $ref: '#/components/schemas/ShareLinkOptions'
        savedView:
          allOf:
          - $ref: '#/components/schemas/SavedViewData'
          type:
          - object
          - 'null'
    Error:
      type: object
      required:
      - status
      - title
      properties:
        status:
          type: integer
          format: int32
        title:
          type: string
        detail:
          type: string
          description: human readable description of the error in english
        errorCode:
          type: string
          description: detailed code describing error, can be used to map to a localized message
        errorValues:
          type: object
          description: values implied in the error, typically an input parameter, can be used to include in a localized message
    Uuid:
      type: string
      description: UUIDv4
      format: uuid
      example: 156fff1a-0ef7-4335-891a-627928a19e29
    ProjectId:
      allOf:
      - $ref: '#/components/schemas/Uuid'
      example: 8196e320-8a4d-4d29-b0a9-077cd7ed3368
  parameters:
    shareLinkRef:
      name: shareLinkRef
      in: path
      required: true
      description: The Urn of the share link
      schema:
        oneOf:
        - $ref: '#/components/schemas/ShareLinkUrn'
    accountRef:
      name: accountRef
      in: path
      required: true
      description: The Id or Urn of the account
      schema:
        oneOf:
        - $ref: '#/components/schemas/AccountUrn'
        - $ref: '#/components/schemas/AccountId'
    projectRef:
      name: projectRef
      in: path
      required: true
      description: The Id or Urn of the project
      schema:
        oneOf:
        - $ref: '#/components/schemas/ProjectUrn'
        - $ref: '#/components/schemas/ProjectId'
  responses:
    UnexpectedError:
      description: unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            '400':
              value:
                status: 400
                title: Bad Request
            '401':
              value:
                status: 401
                title: Unauthorized
            '403':
              value:
                status: 403
                title: Forbidden
            '404':
              value:
                status: 404
                title: Not Found
            '405':
              value:
                status: 405
                title: Method Not Allowed
            '406':
              value:
                status: 406
                title: Not Acceptable
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://aec.cintoo.com/oauth/authorize
          tokenUrl: https://aec.cintoo.com/oauth/token
          scopes: {}
          refreshUrl: https://aec.cintoo.com/oauth/token
x-tagGroups:
- name: General
  tags:
  - errors_list
  - internal_information
  - token_management
  - Permissions
  - Authentication
- name: Resources
  tags:
  - Resources
- name: Tenant
  tags:
  - Tenant
- name: Account
  tags:
  - Account
  - Subscription
  - Role
  - User
  - Group
  - Trusted Device
- name: Subscription
  tags:
  - Usage Report
- name: Project
  tags:
  - Project
  - Members
  - Workzone
- name: Project Data
  tags:
  - File
  - Annotation
  - Saved View
  - Share Link
  - Crop
  - Measurement
  - Tag List
  - Tag
- name: Jobs
  tags:
  - Progress Monitoring
  - Import Model
  - Export Scene
  - Segmentation
  - Video360
  - Import IDD
- name: Integrations
  tags:
  - Integrations
  - Konekt
  - Autodesk
  - Procore
- name: Tutorials
  tags:
  - tuto_upload_file
  - understand_tag_data
